	/* css stefan */
/*
 * Sidebar Menu 
 */
body{

	font:14px/130% Verdana!important;
	
}
/*the wrap needs to be 980*/
.be-wrap {
    margin: 0 auto;
    max-width: 960px !important;

}
p{
	margin-bottom:0px !important
}
.medium_size{
	font-size: 50px;
}
#slidebar-menu a {
	font-family: "dinpromedium";
	font-size:24px;
	
}
#sb-slidebar-content{
	padding-top:0px;
}
#header-inner-wrap, body.header-transparent #header #header-inner-wrap.no-transparent {
    background-color: rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
#mapCanvas label { width: auto; display:inline; }
#mapCanvas img { max-width: none; }
#services_icons{
	color:#fff !important;
}
i.font-icon:hover{
	color:#2295d3 !important;
}
.arrow_down{
	text-align:center;
	position:absolute;
	bottom: 50px;
	font-size: 30px;
	left:49%;
}
.sidebar-widgets h6 {
	color:#1f96d4 !important;
	font-family: "dimpromedium";
	font-size:22px;
}
h5.post-title{
	font-weight:bold;
}
h6.black{
	font-size:14px;
	text-align:center;
	margin-bottom:0px !important;
}
h2.black{

	text-align:center;
}
div.post-content{
font-family: Verdana;
font-size: 16px;	
}
#right-sidebar{
	color:#313131 !important;
}
.black{
	color:#424244;
}
.black:hover{
	color:#1f96d4;
}
span.timeline{
	background:#38383b !important;
}

body.header-transparent #header-inner-wrap #navigation, body.header-transparent #header-inner-wrap .header-controls, body.header-transparent #header-inner-wrap .mobile-nav-controller-wrap {
    line-height: 85px !important;
    background-color: #38383b;
}
.header-controls:hover{
	line-height: 85px !important;
    background-color: #1f96d4;
    color:#fff;
}
div.menu-controls.sliderbar-menu-controller.right i.font-icon.icon-menu{
	padding-right:5px;
}
#header-inner-wrap{
	height:85px !important;
}
#logo{
   float: left;
    margin: 0px;
}
.icon-menu{
	
	color:#fff !important;
}
.paddingcustom{
	padding:50px 0px 50px 0px !important;
}
.icon-size-large{
	font-size: 150px;
}
.xlarge{
	font-size: 150px;
}

.text-pull-right{
	text-align:right !important;
}
.text-pull-left{
	text-align:right !important;
}
.font-icon.large {

    font-size: 100px !important;
}
/* reset theme css  dsdsdsaddsadsasa*/
a.big_button_profile{
	font-size:14px;
	color:#38383b !important;
	cursor:pointer !important;
	text-transform:uppercase;
	padding:10px 25px !important;
	
	margin-bottom:0px !important;
	margin-left:20px;
	float:right;
	font-family:"dinpromedium";
	border:1px solid #38383b;
}
a.big_button_tehnical{
		font-family:"dinpromedium";
	font-size:14px;
	color:#38383b !important;
	cursor:pointer !important;
	text-transform:uppercase;
	padding:10px 25px !important;
	margin-bottom:0px !important;
	float:left;
	border:1px solid #38383b;
}
a.big_button_tehnical:hover{
	background:#38383b;
	color:#fff !important;
}
a.big_button_profile:hover{
	background:#38383b;
	color:#fff !important;
}
a.button_big{
	
	
	font-size:28px;
	color:#d9d9d9 !important;
	cursor:pointer !important;
	text-transform:uppercase;
	padding:10px !important;
	margin-bottom:0px !important;
}
a.button_big_discover{
	
	border:1px solid #fff;
	display:block;
	text-align:center;
	width:200px;
	font-family: Verdana;
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	padding:10px 25px;
	cursor: pointer;
	
}
a.button_big_discover:hover{
	
	background:#38383b;
	
	color:#fff;
	
}
a.button_big:hover{
	
	
	color:#1f96d4 !important;
}
.
.sb-slidebar-content {
    background: #38383b !important;
}
.sb-right {
	 background: #38383b !important;
}
.sb-slidebar .menu ul li {
	color:#fff;
}
.sb-slidebar .menu ul li:hover{
	background:#2295d3;
}
.current-menu-item{
	background:#2295d3;
	color:#fff !important;
}
li.current-menu-item > a{
	background:#2295d3;
	color:#fff !important;
}
#slidebar-menu a {
    border-bottom: 1px solid #fff !Important;
    display: block;
    padding: 0 0 0 20px;
}

/*
 * Footore
 */
.widget_nav_menu  ul li:before {
	content:none !important;
	
}
.widget_nav_menu ul li {
	font-size:24px;
	
	color:#fff !important;
	
	margin-bottom:5px !important;
}
/*
 * Homepage site
 */
.
.mapiz{
	display:none;
}
li.service_homepage{
	
	display:block;
	padding:0px !important;
	float:left;
	width:46%;
	margin-left:4%;  
}
div.service-wrap-homepage:hover{
	color:#fff;
	background:#1f96d4;
}
div.service-wrap-homepage{
	background:#ebebeb;
	color:#38383b;
	padding:40px;
	cursor:pointer;
}

div.service-wrap-homepage p{
	text-transform:uppercase;
	font-size:18px;
	
}

/* Colors */
.pull-right{
	float: right;
	
}
.pull-left{
	float: left;
	
}
.icon_large_footer{
	font-size:24px !important;
}
.white{
	color:#fff !important;
}
.borderd{
	
	border-top: 0px;
	border-bottom:1px solid #fff;
	border-right: 0px;
	border-left:0px;
}
.no-margin{
	margin-bottom:10px !Important;
}
.thumb-title {
	color:#fff !important;
}
h2{
	font-family: "dinpromedium" !important;
	font-size:45px !important;
}
.white_line_block{
	display: block;
	width:78%;
	height:5px;
	margin-left: 32px;
	border-bottom: 5px solid #fff;
}
hr.white{
	
	border: 0 solid;
    clear: both;
    color: #fff;
    display: block;
    float: left;
    height: 10px;
    margin: 0 !important;
}
hr{
	border: 0 solid;
    clear: both;
    color: #1f96d4;
    display: block;
    float: left;
    height: 10px;
    margin: 0 !important;
    width: 20%;
}
.blue{
	background: #1f96d4 !important;
	
}
.10x{
	width:10% !important;
}


/* Team Members */
.team-shortcode-wrap{
	float:left;
}

h6.team-title{
	color:#fff;
	font-size:16px !important;
	font-weight:bold;
	font-family:"dimpromedium"
	opacity:1 !important; 
}
.team-img {
margin-bottom:0px !important;
}
.team-wrap{
	cursor:pointer;
	height: 60px; 
	margin-top: -60px;
	background:#000;
	opacity:0.75;
	  -webkit-transition: 0.7s;
  	-moz-transition: 0.7s;
  	-ms-transition: 0.7s;
 	 -o-transition: 0.7s;
  transition: 0.7s;   
	
}
.team-description{
	margin-bottom:0px;
	z-index:1;
	opacity:1;
	color:#fff;
	color:#fff;
	font-size:14px !important;
	font-weight:bold;
	font-family:"dimpromedium"
	opacity:1 !important; 
}

/* start the hover efect */
div.team-shortcode-wrap:hover > div.team-wrap{
  display:none;  
}
div.team-shortcode-wrap:hover > div.blue_hover_team{
	display: block !important;
	cursor:pointer;
	height: 120px; 
	margin-top: -120px;
	color:#ff9900 !important;
	
}
 div.blue_hover_team{
 	display:none;
 }

.team-img {
	margin-bottom:0px;
}

/* titles */
h4.titlewithicon{
	font-size:16px;
	font-weight:normal;
	color:#38383b;
	font-family: "dinpromedium";
	margin-bottom:0px !important;
}


/* Buttons */

.button_map{
	display:block;color:#fff;border:1px solid #fff;
	text-transform:uppercase;
	cursor: pointer;
	width:20%;
	float:right;
}
.map{
	display:none;
}
.arrow{
	border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1f96d4;
    height: 0;
    width: 0;
    text-align:center;
}
.contact_homepage_color{
	color:#ebebeb;
	float:right;
	font-size:24px;
	text-transform:none;
	font-family: Verdana;
	margin-bottom: 0px !important;
	
}
.contact_email_color{
	color:#fff;
}
@font-face {
    font-family: 'dinprobold';
    src: url('fonts/dinpro-bold-webfont.eot');
    src: url('fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-bold-webfont.woff') format('woff'),
         url('fonts/dinpro-bold-webfont.ttf') format('truetype'),
         url('fonts/dinpro-bold-webfont.svg#dinprobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dinpromedium';
    src: url('fonts/dinpro-medium-webfont.eot');
    src: url('fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-medium-webfont.woff') format('woff'),
         url('fonts/dinpro-medium-webfont.ttf') format('truetype'),
         url('fonts/dinpro-medium-webfont.svg#dinpromedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dinprolight';
    src: url('fonts/dinpro-light-webfont.eot');
    src: url('fonts/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-light-webfont.woff') format('woff'),
         url('fonts/dinpro-light-webfont.ttf') format('truetype'),
         url('fonts/dinpro-light-webfont.svg#dinprolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


#footer{
	background: #1f96d4 !important;
	color:#fff !important;
	font-family: Verdana;
	font-size:10px;
}
ul#menu-footer_1{
	
}
ul#menu-footer_1 li{
	padding-left:0px;
	
}

/* maps full size */
 .google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}
hr.white{
	
	border:0px;
	display:block;
	height:5px;
	color:#fff;
	background:#fff;
}
.newsletter_button{
	
	display:block;
	
}
.icon-shortcode {
	text-align:center;
}.
#bottom-widgets {
    background-color: #38383b !important;
}

/* reset css */
.prev{
	color:#000;
}
.next{
	color:#000;
}
.carousel-wrap {
	padding-bottom:10px !important;
	padding-top:10px !important;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
}




@media screen and (max-width: 780px) {
	/* hide the elements */

	.team-shortcode-wrap{
		display:none;
	}
	
	
	ul#menu-footer_1-1.menu li{padding-left:0px !important; }


}