/*
Theme Name: Net Ten Theme
Theme URI: http://www.net-ten.it
Author: Laura & Stefan
Author URI: http://www.net-ten.it/
Description:  Creative Multi-Purpose and Responsive Wordpress theme
Version: 1.0
License: GPL 2.0
License URI: license.txt
Tags: black, green, white, light, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready
*/

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/*import the custom css */
@import url(custom.css);

/* =============================================================================
   CSS Reset
   ========================================================================== */
   
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td { vertical-align: top; }
img{max-width:100%;}

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;}

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { }
input[type="text"],input[type="submit"], textarea { -webkit-appearance: none; -webkit-border-radius:0px; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

::selection         {background: rgb(0,0,0); color: #fff; }
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
/*.wf-loading p, .wf-loading ul, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6 { visibility: hidden; } .wf-active p, .wf-active ul, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-inactive p, .wf-inactive ul, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4, .wf-inactive h5, .wf-inactive h6 { visibility: visible; } */

/* ==|== primary styles =====================================================
   Author:


/* =========================================================================
                                     LAYOUTS
   ========================================================================= */

/* ======================
    Global
   ====================== */
html {
	padding-right: 0px !important;
	overflow-y: scroll;
}


/* ======================
    Header
   ====================== *

/*------- LOGO ----------- */

#logo {
    margin: 30px 0 30px;
    float: left;
}
#logo a, #logo a img {
	display: block;
}


/*------- Sticky Header ----------- */

#header {
    position: relative;
    z-index: 10;
}

#header-inner-wrap.stuck {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.44);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.44);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.44);
}

#header-inner-wrap.stuck #logo,
#header-inner-wrap.top-animate #logo {
    margin: 0px;
	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	-ms-transition: margin 0.5s ease;
	-o-transition: margin 0.5s ease;
	transition: margin 0.5s ease;
}
#header-inner-wrap.stuck #logo img,
#header-inner-wrap.top-animate #logo img {
	-webkit-transition: max-height 0.5s ease;
	-moz-transition: max-height 0.5s ease;
	-ms-transition: max-height 0.5s ease;
	-o-transition: max-height 0.5s ease;
	transition: max-height 0.5s ease;
}
.header-controls {
	float: right;
}
#header-inner-wrap.top-animate #navigation, 
#header-inner-wrap.top-animate .header-controls, 
#header-inner-wrap.top-animate .social-media-icons-mid-header,
#header-inner-wrap.stuck #navigation, 
#header-inner-wrap.stuck .header-controls, 
#header-inner-wrap.stuck .social-media-icons-mid-header {
    line-height: 70px;
	-webkit-transition: line-height 0.5s ease;
	-moz-transition: line-height 0.5s ease;
	-ms-transition: line-height 0.5s ease;
	-o-transition: line-height 0.5s ease;
	transition: line-height 0.5s ease;
}



/*------- Header Search Control ----------- */

.search-box-wrapper {
	position: absolute;
	top: 100%;
	right: 0px;
	width: 240px;
	display: none;
	z-index: 1;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23);
	line-height: normal;
	padding: 25px;
	background: #fff;
}
.header-search-controls {
	position: relative;
	float: right;
}
.header-search-controls .search-button {
	margin-left: 0px;
	cursor: pointer;
	color: inherit;
	display: inline-block;
	zoom: 1;
	font-size: 16px;
	line-height: normal;
}
.search-box-wrapper .searchform .search-icon {
	position: absolute;
	top: 0px;
	right: 20px;
	padding: 0px 5px;
	line-height: 97px;
	color: #555 !important;
}
.search-box-wrapper .searchform .s {
	width: 100%;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 0;
}

/*------- Header Cart Control ----------- */

.header-cart-controls, .menu-controls, .header-search-controls  {
	margin-left: 15px;
}
.header-cart-controls:before {
	font-family: 'be-themes';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: 0.2em;
	-webkit-font-smoothing: antialiased !important;
}
.header-cart-controls .cart-contents {
	width: 18px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -26px;
	right: -1px;
	font-size: 10px;
	padding: 0 !important;
}


.header-cart-controls .cart-contents span {
	font-weight: bold;
}
.header-cart-controls:before {
	content: '\e940';
	color: #7e7e7e;
}
#header a.icon-shortcode  {
	display: inline-block;
}
#header a.icon-shortcode .font-icon {
	margin-bottom: 0px;
	line-height: 27px;
}

/*------- Transparent Header ----------- */

body.header-transparent #header #header-inner-wrap.no-transparent,
body.sticky-header #header #header-inner-wrap.no-transparent {
	position: fixed;
	top: -300px;
	width: 100%;
	left: 0px;
}
body.header-transparent #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header #header #header-inner-wrap.no-transparent.top-animate {
	top: 0px;
	-webkit-transition: top .50s ease;
	-moz-transition: top .50s ease;
	-o-transition: top .50s ease;
	-ms-transition: top .50s ease;
	-webkit-backface-visibility: hidden;
}
body.header-transparent.admin-bar #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header.admin-bar #header #header-inner-wrap.no-transparent.top-animate {
	top: 32px;
	-webkit-transition: top .50s ease;
	-moz-transition: top .50s ease;
	-o-transition: top .50s ease;
	-ms-transition: top .50s ease;
	-webkit-backface-visibility: hidden;
}
body.header-transparent #header #header-inner-wrap {
	position: absolute;
	top: 0px;
	width: 100%;
	background: transparent;
	box-shadow: none;
}
body.header-transparent #logo img {
	display: none;
}
body.header-transparent #header-inner-wrap.no-transparent.top-animate #logo img.normal-logo,
body.header-transparent #header-inner-wrap #logo img.transparent-logo {
	display: block;
}
body.header-transparent #header-inner-wrap.no-transparent.top-animate #logo img.transparent-logo {
	display: none;
}
#header-inner-wrap.transparent {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#header-inner-wrap.background--dark.transparent #navigation,
#header-inner-wrap.background--dark.transparent .header-search-controls .search-button,
#header-inner-wrap.background--dark.transparent .header-cart-controls:before,
#header-inner-wrap.background--dark.transparent .menu-controls i.font-icon {
	color: #f5f5f5;
	transition: color 0.5s linear;
}
#header-inner-wrap.background--light.transparent #navigation,
#header-inner-wrap.background--light.transparent .header-search-controls .search-button,
#header-inner-wrap.background--light.transparent .header-cart-controls:before,
#header-inner-wrap.background--light.transparent .menu-controls i.font-icon {
	color: #333;
	transition: color 0.5s linear;
}
.light-scheme-logo {
	display: none !important;
}
body.header-transparent #header-inner-wrap.background--dark.transparent #logo img.light-scheme-logo {
	display: block !important;
}
body.header-transparent #header-inner-wrap.background--dark.transparent #logo img.dark-scheme-logo {
	display: none !important;
}

/*******************************
		NAVIGATION
*******************************/
#navigation {
    float: right;
}
#navigation a {
    color: inherit;
    padding: 0px 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#navigation ul li {
    float: left;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}
#navigation .sub-menu {
    position: absolute;
    width: 200px;
    display: none; 
    z-index: 12;
	top: 100%;
	line-height: 32px;   
}
#navigation .sub-menu .sub-menu { 
    left: 100%;
    top: 0px;
    margin-left: 0;
}

#navigation ul .sub-menu li {
    display: block;
    float: none;
}
#navigation ul .sub-menu li a {
    display: block;
    padding: 5px 20px;
}
.menu-controls i.font-icon {
	font-size: 20px;
	color: #7e7e7e;
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	padding: 0px;
	line-height: normal;
}
.menu-controls i.font-icon:before {
	position: relative;
	top: 2px;
}
/*******************************
		MEGAMENU
*******************************/
#navigation .menu > ul > li.mega {
	position: inherit !important;	
}
#navigation .menu > ul > li.mega > ul.sub-menu {
	width: 100%;	
	left: 0px;
	padding: 20px 0px;
}
#navigation .menu > ul > li.mega > ul.sub-menu a {
	padding: 5px 20px 5px 20px;
	-webkit-font-smoothing: antialiased !important;
}
#navigation .menu > ul > li.mega > ul > li {
	display: table-cell !important;
	float: none;
	padding: 0px;
	border-right: 1px solid #303030;
	width: 300px;
}
#navigation .menu > ul > li.mega > ul > li:last-child {
	border-right: none;
}
#navigation .menu > ul > li.mega.columns-3 > ul > li { 
		width: 386px; 
}
#navigation .menu > ul > li.mega.columns-4 > ul > li { 
		width: 290px; 
}
#navigation .menu > ul > li.mega.columns-5 > ul > li { 
		width: 232px; 
}
#navigation .menu > ul > li.mega.columns-2 > ul > li { 
		width: 580px; 
}
#navigation .menu > ul > li.mega > ul > li ul {
	display: block !important;
	width: 100%;
	left: 0px !important;
	opacity: 1 !important;
	position: relative !important;
	background: none;
	margin-top: -1px;
}
#navigation .menu > ul > li:last-child a {
	padding-right: 0px;
}
#navigation .sub-menu a {
	letter-spacing: 1px;
}
#navigation .mega.highlight .sub-menu .sf-with-ul {
	font-size: 13px;
	color: #fff;
	padding-bottom: 10px !important;
} 

body.header-transparent #navigation .sub-menu {
	top: 80%;
}
body.header-transparent #navigation .sub-menu .sub-menu {
	top: 0px;
}

/*******************************
		SIDEBAR MENU
*******************************/

.sb-slidebar {
	position: fixed;
	width: 280px;
	z-index: 11;
	background: #000;
	height: 100%;
	overflow: auto;
	right: -280px;
}
html.csstransforms .sb-slidebar {
	right: 0px;
	-webkit-transform: translatex(280px);
	-moz-transform: translatex(280px);
	-ms-transform: translatex(280px);
	-o-transform: translatex(280px);
	transform: translatex(280px);
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
}
html.csstransforms .sb-slidebar.opened {
	-webkit-transform: translatex(0px);
	-moz-transform: translatex(0px);
	-ms-transform: translatex(0px);
	-o-transform: translatex(0px);
	transform: translatex(0px);
}
html.csstransforms body.slider-bar-opened #main {
	-webkit-transform: translatex(-280px);
	-moz-transform: translatex(-280px);
	-ms-transform: translatex(-280px);
	-o-transform: translatex(-280px);
	transform: translatex(-280px);
}
html.csstransforms #main {
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
}
html.no-csstransforms .sb-slidebar {
	-webkit-transition: right 400ms ease;
	-moz-transition: right 400ms ease;
	-o-transition: right 400ms ease;
	transition: right 400ms ease;
}
html.no-csstransforms .sb-slidebar.opened {
	right: 0px;
}
.sb-slidebar-content {
	padding: 30px 0px;
}
#slidebar-menu a {
    color: inherit;
    padding: 10px 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.sb-slidebar .menu ul {
	list-style: none;
	margin-bottom: 0px;
	display: block;
	padding: 0px;
	margin-top: 0px;
}
.sb-slidebar .menu ul li {
	margin-bottom: 0px;
}
.sb-slidebar .menu ul li {
	display: block;
	position: relative;
}

#slidebar-menu {
	z-index: 100;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 50px;
}
.sb-slidebar-content .menu {
	margin-bottom: 50px;
}
#slidebar-menu .sub-menu {
	display: none;
}
#slidebar-menu a {
	padding: 0px 0px 0px 20px;
	border-bottom: 1px solid #303030;
	display: block;
}

#slidebar-menu .sub-menu a { 
	padding-left: 35px; 
}
#slidebar-menu .sub-menu .sub-menu a { 
	padding-left: 50px; 
}
.sb-slidebar .widget {
	padding-left: 20px;
	margin-bottom: 40px;
}
#navigation .mobile-sub-menu-controller {
	display: none;
}
#slidebar-menu .mobile-sub-menu-controller {
	display: block;
	position: absolute;
	right: 0px;
	width: 50px;
	top: 0px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
}
#mobile-menu, #mobile-menu ul {
	list-style: none;
	margin-bottom: 0px;
	display: none;
	padding: 0px;
	margin-top: 0px;
}
#mobile-menu li {
	margin-bottom: 0px;
	line-height: 40px;
	position: relative;
}
#mobile-menu a {
	color: inherit;
	padding: 5px 0px 5px 20px;
	display: block;
	position: relative;
	border-bottom: 1px solid #303030;
}
#mobile-menu .mobile-sub-menu-controller {
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 51px;
	padding: 0px 15px;
	cursor: pointer;
}
.mobile-nav-controller-wrap {
	display: none;
	float: right;
}
.mobile-nav-controller-wrap .menu-controls {
	margin-left: 0px;
	margin-right:0px;
}
#logo-sidebar {
	text-align: left;
	margin-bottom: 30px;
	padding-left: 20px;
}
/* ======================
    Footer
   ====================== */
#footer-wrap {
	padding: 25px 0;
}
#copyright{
    margin-bottom: 0;
    text-align: center;
}
/* ======================
    Blog Layout
   ====================== */

.post-title{
    margin-bottom: 0;
	text-transform: uppercase;
}
.post-title a {
	color: inherit !important;
}
.post-nav {
    padding: 10px 0 20px;
    font-size: 12px;
}
.post-nav ul li{
    margin-bottom: 0;
}
.post-meta {
	float: left;
}
.post-nav .post-meta-sep {
    margin: 0 7px;
}
.pagination_parent{
    margin-bottom: 60px;
}
.pagination a, .pagination span, .pages_list a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin: 0 16px 0px 0px;
	background: #efefef;
	display: inline-block;
	font-size: 12px;
	border: 1px solid #dedede;
	border-radius: 3px;
	color: #555;
}
.pages_list a { 
	width: auto;
	padding: 0px 10px;
}
embed {
	max-width: 100%;
}
.single-post #content {
    padding-bottom: 50px;
}

.single-post .project_navigation {
    margin-top: 50px;
}
.post-excerpt{
    margin-bottom: 35px;
}
.post-thumb {
    margin-bottom: 35px;
}
.post-thumb img{
    width: 100% !important;
    height: auto !important;
}
.post-thumb.style-2{
    float: left;
    width: 300px;
    margin-right: 20px;
}
.no-thumb .post-header {
    margin-bottom: 15px;
}

.format-quote .post-content-wrap, 
.format-link .post-content-wrap {
	padding: 30px;
	background: #efefef;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 35px;
}
.format-quote .post-meta,
.format-link .post-meta {
	float: none;
	display: inline;
}

.blog-separator .separator {
    margin-top:30px;
    margin-bottom: 65px;
}

hr {
	margin-bottom: 60px;
}

.post-tags {
	margin-bottom: 40px;
}

/******************************
    Blog Style2
******************************/

.style2-blog .post-thumb {
	width: 40%;
	margin-right: 5%;
	float: left;
}
.style2-blog .article-details {
	width: 55%;
	float: left;
}
.style2-blog .format-audio .article-details,
.style2-blog .format-quote .article-details,
.style2-blog .format-link .article-details,
.style2-blog .format-audio .post-thumb {
	width: 100%;
}

/******************************
    Blog Style3
******************************/

.style3-blog .blog-separator .separator {
    margin-top:60px;
    margin-bottom: 65px;
}
.blog-post.element {
	margin-bottom: 65px;
}

.style3-blog .format-quote .post-content-wrap, 
.style3-blog .format-link .post-content-wrap {
	margin-bottom: 0;
}

.style3-blog .post-title {
	font-size:13px;
	letter-spacing: 2px;
	line-height: 26px;
}

/******************************
    Audio Post Format
******************************/

.mejs-container, 
.mejs-embed, 
.mejs-embed body,
.mejs-container .mejs-controls {
	background: none !important;
}

.mejs-container .mejs-controls .mejs-time span {
	color: #555 !important;
}
.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #efefef !important;
}
.mejs-controls .mejs-button button {
	background: none !important;
	outline: 0;
	margin: 9px 5px !important;
}
.mejs-controls .mejs-playpause-button.mejs-play button:before {
    content: '\e895';
    font-family: "be-themes";
    font-size: 16px;
    color: #555;
}
.mejs-controls .mejs-playpause-button.mejs-pause button:before {
    content: '\e897';
    font-family: "be-themes";
    font-size: 16px;
    color: #555;   
}
.mejs-controls .mejs-volume-button.mejs-mute button:before {
    content: '\e860';
    font-family: "be-themes";
    font-size: 14px;
    color: #555;   
}
.mejs-controls .mejs-volume-button.mejs-unmute button:before {
    content: '\e85f';
    font-family: "be-themes";
    font-size: 14px;
    color: #555;   
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #000 !important;
}


/* ======================
    Comments
   ====================== */

.form-submit {
    margin-bottom: 0;
}

.commentlist { 
	list-style: none; 
	padding: 0; 
	margin-bottom: 60px; 
}
.commentlist li.comment { 
	padding: 0; 
	margin-bottom: 0; 
}
article.comment {
	padding: 27px 30px 30px;
	margin-bottom: 50px;
	background: #efefef;
	position: relative;
	border-radius: 5px;
}
.vcard, .comment-content {
    float: left;
}
.vcard {
    width: 9%;
}
.comment-author-inner {
    display: inline-block;
    text-align: center;
}
.comment-author-inner img {
    height: auto !important;
    border-radius: 50%;
}
.comment-content{
    width: 80%;
    padding-left: 4%;
}

.children{
    list-style: none;
}
#comments-title{
    margin-bottom: 40px;
}
.comment {
    margin-bottom: 30px;
}

.comment-meta{
    margin-bottom: 10px;
}
.comment_text p{
    margin-bottom: 0;
}
#reply-title {
    margin-bottom: 15px;
}
.comment-meta h6.fn {
	margin-bottom: 0;
}
.comment-meta time {
	font-size: 12px;
}
.comment-edit-reply { 
	padding:0; 
	margin:0;
	position: absolute;
	right: 10px;
	bottom: 2px;
}
.comment-edit-reply li {
	margin-bottom: 0;
}

.comment-edit-reply,.children{ list-style:none !important; }

.reply {
    display:block;
}
.reply,
li.edit-link,
span.edit-link {
    font-size: 11px;
    font-style: italic;
}
.comment a{
    text-decoration: none;
}
.avatar {
    margin-bottom: 10px;
}
.children{ 
	padding-left:10% ;
	margin-bottom: 0; 
}
.children .vcard { 
	width:9%; 
}
.children .comment-content { 
    width: 80%;
    padding-left: 4%;
}
.form-allowed-tags{
    display: none;
}



/* ======================
    Typography
   ====================== */


h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    margin-bottom: 15px;
    letter-spacing: 3px;
}
h2, h3, h4 , h5 {
    margin-bottom: 20px;
}

h6 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 30px;
}

#content ,.post-title ,.breadcrumbs , #page-title{
    -ms-word-wrap: break-word;
    word-wrap: break-word;   
}
.header-breadcrumb {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
blockquote {
    font-style: italic;
    margin-bottom: 30px;
}
blockquote p:last-child{
    margin-bottom: 0;
}


/*------- Anchor ----------- */


a, a:visited , a:hover{
    text-decoration: none;

}
.sidebar-widgets .widget ul li a {
    color: inherit;
}

/*------- Lists ----------- */


ul,ol{
    padding-left: 15px;
    line-height: inherit;
    margin: 0px 0px 30px;
}
ul{ list-style: disc; }
ol{ list-style: decimal; }
ul li,ol li{
    margin-bottom: 15px;
}
ul ul, ol ol {
	margin-top: 15px;
}
dd { margin: 0 0 20px; line-height: inherit; }
dt { line-height: inherit; }
nav ul, nav ol { list-style: none !important; list-style-image: none; margin: 0; padding: 0; }
.widget ul{
    margin-bottom: 0;
}
.widget ul li:last-child{
    margin-bottom: 0 !important;
    padding-bottom: 0;
    border: none;
}



/* ==========================================================
    Tags and classes that come with Wordpress 
   ========================================================== */ 

code, pre { font-family:"Courier New", Courier, monospace; }
cite{ font-weight:bold; }
address {
    display: block;
    line-height:20px;
    margin: 0 0 20px;
}


pre{  display: block; margin: 10px 0; padding: 10px; overflow: auto; }
table{ border-collapse: collapse; margin-bottom:20px; }
tr:nth-of-type(odd){  }
th,td{ border: 1px solid #ddd; padding: 9px 20px; }
th{ text-transform: uppercase; }
caption{ font-size: 11px; font-style: italic; }
sup,
sub {
    height: 0;
    font-size: 10px;
    line-height: 1;
    position: relative;
    top: .5ex;
    vertical-align: baseline;
}
sup { bottom: 1ex; }

/* Wordpress default Image Alignment classes */

.wp-caption{
    margin-bottom:20px;
    max-width: 100% !important;
    padding-top: 6px;
    text-align: center;
}
.wp-caption img{ width:auto!important; height:auto!important; max-width:98%;}
.wp-caption img, .wp-caption img a { border: 0 none; margin: 0 !important; padding: 0; }
.wp-caption .wp-caption-text { font-size: 11px; font-style:italic; margin: 0; padding: 4px 4px 5px;  }
img.alignright, .wp-caption.alignright { float: right; margin: 0 0 0px 10px; }
img.alignleft, .wp-caption.alignleft { float: left; margin: 0 10px 0px 0; }
img.aligncenter, .wp-caption.aligncenter { display: block;  margin-right: auto; margin-left: auto; }
img.aligncenter { margin-bottom: 10px; }
a img.alignright { float: right; margin: 7px 0 20px 20px; }
a img.alignleft { float: left; margin: 7px 20px 20px 0; }
a img.aligncenter { display: block;  margin-right: auto; margin-left: auto; }
.gallery-item img{ width:auto !important; height:auto !important;  border:none !important; max-width: 100% !important; }    
.gallery-caption { display: block; font-style: italic; margin-bottom: 0 !important; padding: 0 4px 5px; }

/* WordPress built-in class for handling sticky posts */
.sticky, .bypostauthor { }

/* Images */
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; 
}



/* ======================
    Form
   ====================== */

input[type="text"], input[type="email"], input[type="password"] {
    padding: 0px;
    height: 45px;
    width: 48%;
    margin-bottom: 30px;
    background-color: #efefef;
    border: none;
    color: #555;
    font-size: 10px;
	border: 1px solid #dedede;
	text-indent: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
select {
	height: 45px;
    width: 100%;
	padding: 10px;
}
textarea{
    padding: 10px 0 0 10px;
    height: 350px;
    width: 98%;
    margin-bottom: 30px;
    font:inherit;
    overflow: auto;
    background-color: #efefef;
    color: #555;
    border: none; 
	border: 1px solid #dedede;  
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}  
input[type="submit"], .action-button .be-button {
    border: none;
    cursor:pointer;
    display: inline-block;
    margin:0px 20px 10px 0;
    text-decoration: none;  
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font-size: 11px;
	line-height: 11px;
	padding: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
} 
.more-link {
    display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 11px;
	-webkit-font-smoothing: subpixel-antialiased;
}  

/* Contact Form 7 Plugin */

.wpcf7-not-valid-tip {
    display: none;
}
input[type="text"].wpcf7-not-valid , input[type="email"].wpcf7-not-valid, input[type="password"].wpcf7-not-valid, textarea.wpcf7-not-valid {
    border: 1px solid #ef8080;
    margin-bottom: 0;
}

input[type=text]:focus, input[type="email"]:focus,  input[type="password"]:focus, textarea:focus {
  border: 1px solid #dedede;
  background-color: #fff;
}

/* ======================
    Contact Page
   ====================== */   

/* Contact Form */

.contact_form .column-block{
    margin-bottom: 25px ;
}
.contact_form input[type="text"]{
    width: 48%;
    margin-bottom: 30px !important;
}
.contact_form textarea.txt_area {
    width:98.3%;
    margin-bottom: 30px !important;
}

.contact_form {
    margin-bottom: 60px;
}
.contact_form_module.contact_form input[type="text"] {
	 width: 99%;
}

/* Gmap */

.gmap {
    margin-bottom: 60px;
    height: 100%;
}
.gmap img {
	max-width: initial !important;
}

.page-template-contact-php #content {
    padding-bottom: 50px;
}
.submit-fieldset {
    position: relative;
}
.contact_loader {
    background: url('img/loader.gif') no-repeat top left;
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    display: none;
    top: 15px;
    left: 0;
    margin-left: 100px;
    margin-top: -7px;
}

/* =========================================================================
                                    WIDGETS
   ========================================================================= */


/* ======================
    Widget Areas
   ====================== */

.widget{
    margin-bottom: 60px;
}
#bottom-widgets .widget {
	margin-bottom: 60px;
}

.sidebar-widgets .widget:last-child {
    margin-bottom: 0;
}

.widget h6 {
    margin-bottom: 15px;
}

#bottom-widgets {
    padding-top: 60px;
    padding-bottom: 60px;
}
#bottom-widgets .column-block {
    margin-bottom: 0;
}
#bottom-widgets-wrap .column-block .widget:last-child {
    margin-bottom: 0;
}


/* ===========================
    Recent Posts
   =========================== */

.recent_post_container{
    list-style: none !important;
    padding: 0;
}
.recent_posts {
    margin-bottom: 25px;
}

.recent_post_content a {
    display: block;
    padding: 0;
}

.recent_post_img { 
	margin: 6px 10px 0 0; 
	float: left; 
}
.recent_post_img a {
    display: block;
    position: relative;  
}
.recent_post_img img { 
	display: inline-block; 
}
.recent-post-date {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 5px;
	display: inline-block;
}
.recent-post-title {
    margin-bottom: 10px
}
/* ======================
    Tags 
   ====================== */

.tagcloud:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.tagcloud a {
    padding: 10px;
    display: block;
    float: left;
    margin: 0 15px 15px 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
	text-transform: uppercase;
	letter-spacing: 1px;   
	border: 1px solid; 
}


/* ======================
    Search
   ====================== */
.search-submit {
    display: none !important;
}
.search-button{
    margin-left: -30px;
}
.widget .searchform {
	position: relative;
}
.widget .searchform .search-icon {
	position: absolute;
	top: 0px;
	right: 10px;
	line-height: 47px;
}
.s {
    height: 45px;
    border-radius: 3px;
    background: #fff;
    font-size: 11px;
    z-index: 1000000;
	margin-bottom: 0px;
}
.widget .s {
    width: 97% !important;
}
.not-found {
    padding-top:100px;
    padding-bottom: 100px;
    text-align: center;
}
.not-found-search{
    width: 350px;
    margin: 0 auto;
}

/* ======================
    WP Calendar
   ====================== */
#wp-calendar {
    width: 100%;
    background: none;
    border: none;
    border-collapse: separate;
    border-spacing:0;
    line-height: 24px;
    margin-bottom: 0px;
    text-align: center;
}
#wp-calendar caption {
    font-size: 12px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}
#wp-calendar thead {
    font-size: 11px;
    font-weight: 700;
}
#wp-calendar thead  th{
    background: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#wp-calendar tbody,#wp-calendar tfoot  {
    font-size: 11px;
    font-weight: 700;
}
#wp-calendar tbody tr td,#wp-calendar thead tr th,#wp-calendar tfoot tr td{
    background: none;
    border: none;
}
#wp-calendar tbody tr td {
    background: none;
    border: 1px;
}
#wp-calendar tbody tr td.pad {
    background: none;
    border:none;
}
#wp-calendar tfoot tr td{
    background: none;
    padding: 5px 0px 0px;
}
#wp-calendar td,#wp-calendar th {
    padding: 0px;
}
#today a{ color:#fff; }
#wp-calendar tfoot tr #prev{
    text-align: left;
}
#wp-calendar tfoot tr #next {
    text-align: right;
}
#wp-calendar tr a {
    display: block;
}


/* ==================================================
    Categories, Archives, Links, Meta, Menu, Side nav
   ================================================== */

.widget_categories ul, 
.widget_archive ul, 
.widget_links ul,
.widget_meta ul, 
.widget_nav_menu ul, 
.widget_pages ul{
    list-style: none;
    padding-left: 0;
}

.widget_categories ul li, 
.widget_archive ul li, 
.widget_links ul li,
.widget_meta ul li, 
.widget_nav_menu ul li,
.widget_pages ul li
{
    padding-left: 25px;
}

.widget_categories ul li:before, 
.widget_archive ul li:before, 
.widget_links ul li:before,
.widget_meta ul li:before, 
.widget_nav_menu ul li:before,
.widget_pages ul li:before {
  content: '\e878';
  font-family: "be-themes";
  display: inline-block;
  margin-left: -25px; /*same as padding-left set on li*/
  width: 25px; /*same as padding-left set on li*/
  font-size: 14px;
}

/* ======================
   Photostream Widget
   ====================== */
.photostream ul {
    list-style: none;
    padding-left: 0;
}
.photostream ul li {
    margin: 0px 15px 15px 0px;
    float: left;
    width: auto;
}
.photostream ul li.last {
    margin-right: 0px;
}
.photostream ul li a {
    display: block;
    position: relative;
}
.photostream ul li a img {
    display: block;
    width: 70px;
    height: 70px;
}
.photostream_overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.photostream_overlay:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}


/* ======================
   Language Switcher
   ====================== */

#lang_sel a.lang_sel_sel,
#lang_sel a.lang_sel_sel:hover,
#lang_sel :hover > a, #lang_sel ul ul :hover > a,
#lang_sel ul ul a, #lang_sel ul ul a:visited {
	background-color: transparent;
	color: inherit;
}

/* ======================
   Back To Top
   ====================== */

#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #000;
	color: #fff;
	display: block;
	border-radius: 50%;
	font-size: 17px;
	z-index: 5;
	display: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;	
}

/* =========================================================================
                                    TABLET
   ========================================================================= */


@media only screen and (min-width: 768px) and (max-width: 959px) {
	#header .header-controls {
		width: 250px;
		position: relative;
	}
}


@media only screen and (max-width: 960px) {
	#navigation {
		display: none !important;
	}
	#header-inner-wrap.stuck {
		position: relative;
		width: 100%;
		box-shadow: none;
	}
	.mobile-sub-menu-controller {
		display: inline-block;
	}
	body.admin-bar #header-inner-wrap.stuck {
		top: 0px !important;
	}
	.sticky-wrapper {
		height: auto !important;
	}
	#header .header-controls {
		width: 50%;
	}
	.header-contact-wrap {
		padding-top: 5px;
	}
	.header-contact-wrap,#header-top-menu {
		line-height: 25px !important;
	}
	.header-contact-wrap .be-wrap div.left, .header-contact-wrap .be-wrap div.right {
		margin-bottom: 5px;
	}
	.menu-controls {
		display: block !important;
	}
	body.header-transparent #header #header-inner-wrap.no-transparent {
		position: absolute;
		left: auto;
		right: auto;
	}
	body.sticky-header #header #header-inner-wrap.no-transparent {
		position: relative;
		left: auto;
		right: auto;
	}
	.mobile-nav-controller-wrap {
		display: block;
	}
}

/* =========================================================================
                                    MOBILE 320
   ========================================================================= */


@media only screen and (max-width: 767px) {
	
	#header-inner-wrap.stuck {
		position: relative;
		width: 100%;
		box-shadow: none;
	}
    /*------- Content Formatting Grid Blocks ----------- */
    ul.tabs li  { 
        float: none;
        margin-right: 0px;
        width:100%;
        margin-left: 0px;  
    }
    #header .header-controls {
    	width: 40%;
    }
	.header-cart-controls, .menu-controls, .header-search-controls {
		margin-left: 5px;
	}    
    /*  Comments */
    .children { 
    		padding-left:0% ; 
    }
    .vcard, .children .vcard { 
    	width:25%; margin-right: 0; 
   	}
    .comment-content,.children .comment-content { 
    		width:70%; padding-left: 4%;
    }
    #footer-widgets { 
    		width: 270px; 
    }
    .no-mobile {
        display: none;
    }
    input[type="text"], 
    input[type="email"], 
    input[type="password"] {
        width: 98%;
    }
	.style2-blog .post-thumb,
	.style2-blog .article-details {
		width: 100%;
		float: none;
	}
	.gmap-wrapper {
		height: 250px !important;
	}	
}


/* =========================================================================
                                    MOBILE 480
   ========================================================================= */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .vcard, .children .vcard {
        width: 20%;
    }   
	.header-cart-controls, .menu-controls, .header-search-controls {
		margin-left: 10px;
	}       
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.left{
    float:left;
}
.right{
    float:right;
}
.last{
    margin-right: 0 !important;
}
.clear{ clear: both; }

.no-margin{
    margin-bottom: 0;
}

.truncate {
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-list-style{
    list-style: none;
}
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
