.woocommerce.single-product #right-sidebar {
    display: none;
}
p.demo_store {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: .5em 0;
    text-align: center;
    background: #ad74a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#ad74a2), to(#96588a));
    background: -webkit-linear-gradient(#ad74a2, #96588a);
    background: -moz-linear-gradient(center top, #ad74a2 0%, #96588a 100%);
    background: -moz-gradient(center top, #ad74a2 0%, #96588a 100%);
    border: 1px solid #96588a;
    color: #ffffff;
    z-index: 99998;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2);
}
.woocommerce .page-title {
    font-size: 20px;
}
.admin-bar p.demo_store {
    top: 28px;
}
.woocommerce small.note, 
.woocommerce-page small.note {
    display: block;
    color: #777777;
    font-size: 11px;
    line-height: 21px;
    margin-top: 10px;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb {
    margin: 0px 0px 20px 0px;
    padding: 0;
	font-size: 11px;
	display: none;
}
.woocommerce .woocommerce-breadcrumb:after, .woocommerce-page .woocommerce-breadcrumb:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .woocommerce-breadcrumb a, .woocommerce-page .woocommerce-breadcrumb a {
    color: #000;
	font-size: 12px;
}
.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 100%;
}
.woocommerce #customer_details {
    margin-bottom: 50px;
}
.woocommerce .col2-set:after, .woocommerce-page .col2-set:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
}
.woocommerce div.product, .woocommerce #content div.product, .woocommerce-page div.product, .woocommerce-page #content div.product {
    margin-bottom: 50px;
    position: relative;
}
.woocommerce div.product .product_title, .woocommerce #content div.product .product_title, .woocommerce-page div.product .product_title, .woocommerce-page #content div.product .product_title {
    clear: none;
    font-size: 20px;
    line-height: 36px;
    margin-top: 0;
    padding: 0;
    letter-spacing: 2px;
}
.woocommerce.single-product .woocommerce-product-rating {
    margin-bottom: 20px;
}
.woocommerce div.product span.price ins, .woocommerce div.product p.price ins, .woocommerce #content div.product span.price ins, .woocommerce #content div.product p.price ins, .woocommerce-page div.product span.price ins, .woocommerce-page div.product p.price ins, .woocommerce-page #content div.product span.price ins, .woocommerce-page #content div.product p.price ins {
    background: inherit;
}
.woocommerce div.product span.price del, .woocommerce div.product p.price del, .woocommerce #content div.product span.price del, .woocommerce #content div.product p.price del, .woocommerce-page div.product span.price del, .woocommerce-page div.product p.price del, .woocommerce-page #content div.product span.price del, .woocommerce-page #content div.product p.price del {
    font-size: 0.67em;
    color: rgba(145, 145, 145, 0.5);
}
.woocommerce div.product p.stock, .woocommerce #content div.product p.stock, .woocommerce-page div.product p.stock, .woocommerce-page #content div.product p.stock {
    font-size: 0.92em;
}
.woocommerce div.product .out-of-stock, .woocommerce #content div.product .out-of-stock, .woocommerce-page div.product .out-of-stock, .woocommerce-page #content div.product .out-of-stock {
    color: red;
}
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
    float: left;
    width: 48%;
    margin-bottom: 0;
    margin-top: 10px;
	position: relative;
}
.woocommerce .product-single-boxed-content {
    margin-bottom: 60px;
}
.woocommerce div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce-page #content div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
}
.woocommerce div.product div.images div.thumbnails, .woocommerce #content div.product div.images div.thumbnails, .woocommerce-page div.product div.images div.thumbnails, .woocommerce-page #content div.product div.images div.thumbnails {
    padding-top: 1em;
}
.woocommerce div.product div.images div.thumbnails:after, .woocommerce #content div.product div.images div.thumbnails:after, .woocommerce-page div.product div.images div.thumbnails:after, .woocommerce-page #content div.product div.images div.thumbnails:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce div.product div.images div.thumbnails a, .woocommerce #content div.product div.images div.thumbnails a, .woocommerce-page div.product div.images div.thumbnails a, .woocommerce-page #content div.product div.images div.thumbnails a {
   float: left;
	width: 16%;
	margin-right: 5%;
	margin-bottom: 5%;
}
.woocommerce div.product div.images div.thumbnails a.last, .woocommerce #content div.product div.images div.thumbnails a.last, .woocommerce-page div.product div.images div.thumbnails a.last, .woocommerce-page #content div.product div.images div.thumbnails a.last {
    margin-right: 0;
}
.woocommerce div.product div.images div.thumbnails a.first, .woocommerce #content div.product div.images div.thumbnails a.first, .woocommerce-page div.product div.images div.thumbnails a.first, .woocommerce-page #content div.product div.images div.thumbnails a.first {
    clear: both;
}
.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
    margin-bottom: 2em;
    width: 48%;
    float: right;
}

.woocommerce div.product div.social, .woocommerce #content div.product div.social, .woocommerce-page div.product div.social, .woocommerce-page #content div.product div.social {
    text-align: right;
    margin: 0 0 1em;
}
.woocommerce div.product div.social span, .woocommerce #content div.product div.social span, .woocommerce-page div.product div.social span, .woocommerce-page #content div.product div.social span {
    margin: 0 0 0 2px;
}
.woocommerce div.product div.social span span, .woocommerce #content div.product div.social span span, .woocommerce-page div.product div.social span span, .woocommerce-page #content div.product div.social span span {
    margin: 0;
}
.woocommerce div.product div.social span .stButton .chicklets, .woocommerce #content div.product div.social span .stButton .chicklets, .woocommerce-page div.product div.social span .stButton .chicklets, .woocommerce-page #content div.product div.social span .stButton .chicklets {
    padding-left: 16px;
    width: 0;
}
.woocommerce div.product div.social iframe, .woocommerce #content div.product div.social iframe, .woocommerce-page div.product div.social iframe, .woocommerce-page #content div.product div.social iframe {
    float: left;
    margin-top: 3px;
}
.woocommerce div.product .woocommerce-tabs, .woocommerce #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs {
    clear: both;
}
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
    list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	position: relative;
	white-space: nowrap !important;
	word-wrap: normal;
	border-left: 1px solid #dedede;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    /*padding: 10px 15px;*/
    background: #efefef;
    color: #555555;
    border: 1px solid #dedede;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
	float: left;
	position: relative;
	z-index: 0;
	margin: 0 0 0 -1px;
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    display: block;
	padding: 10px 15px;
	color: #555;
    text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
    color: #555;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    background: #e2e2e2;
    z-index: 2;
    border-bottom-color: #e2e2e2;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #dedede;
    z-index: 1;
}
.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
    margin: 0 0 60px;
	padding: 25px;
	border: 1px solid #dedede;
	border-top: none;
}
.woocommerce div.product .woocommerce-tabs .panel p:last-child {
    margin-bottom: 0;
}
.woocommerce div.product p.cart, .woocommerce #content div.product p.cart, .woocommerce-page div.product p.cart, .woocommerce-page #content div.product p.cart {
    margin-bottom: 2em;
}
.woocommerce div.product p.cart:after, .woocommerce #content div.product p.cart:after, .woocommerce-page div.product p.cart:after, .woocommerce-page #content div.product p.cart:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce div.product form.cart, .woocommerce #content div.product form.cart, .woocommerce-page div.product form.cart, .woocommerce-page #content div.product form.cart {
    margin-bottom: 35px;
}
.woocommerce div.product form.cart:after, .woocommerce #content div.product form.cart:after, .woocommerce-page div.product form.cart:after, .woocommerce-page #content div.product form.cart:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce div.product form.cart div.quantity, .woocommerce #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity {
    float: left;
    margin: 0px 20px 0px 0px;
}
.woocommerce div.product form.cart table, .woocommerce #content div.product form.cart table, .woocommerce-page div.product form.cart table, .woocommerce-page #content div.product form.cart table {
    border-width: 0 0 1px 0;
}
.woocommerce div.product form.cart table td, .woocommerce #content div.product form.cart table td, .woocommerce-page div.product form.cart table td, .woocommerce-page #content div.product form.cart table td {
    padding-left: 0;
}
.woocommerce div.product form.cart table div.quantity, .woocommerce #content div.product form.cart table div.quantity, .woocommerce-page div.product form.cart table div.quantity, .woocommerce-page #content div.product form.cart table div.quantity {
    float: none;
    margin: 0;
}
.woocommerce div.product form.cart table small.stock, .woocommerce #content div.product form.cart table small.stock, .woocommerce-page div.product form.cart table small.stock, .woocommerce-page #content div.product form.cart table small.stock {
    display: block;
    float: none;
}
.woocommerce div.product form.cart .variations, .woocommerce #content div.product form.cart .variations, .woocommerce-page div.product form.cart .variations, .woocommerce-page #content div.product form.cart .variations {
    margin-bottom: 1em;
}
.woocommerce div.product form.cart .variations label, .woocommerce #content div.product form.cart .variations label, .woocommerce-page div.product form.cart .variations label, .woocommerce-page #content div.product form.cart .variations label {
    font-weight: bold;
}
.woocommerce div.product form.cart .variations select, .woocommerce #content div.product form.cart .variations select, .woocommerce-page div.product form.cart .variations select, .woocommerce-page #content div.product form.cart .variations select {
    width: 100%;
    float: left;
}
.woocommerce div.product form.cart .variations td.label, .woocommerce #content div.product form.cart .variations td.label, .woocommerce-page div.product form.cart .variations td.label, .woocommerce-page #content div.product form.cart .variations td.label {
    padding-right: 1em;
}
.woocommerce div.product form.cart .variations td, .woocommerce #content div.product form.cart .variations td, .woocommerce-page div.product form.cart .variations td, .woocommerce-page #content div.product form.cart .variations td {
    vertical-align: top;
}
.woocommerce div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce-page #content div.product form.cart .button {
    vertical-align: middle;
    float: left;
}
.woocommerce div.product form.cart .group_table td.label, .woocommerce #content div.product form.cart .group_table td.label, .woocommerce-page div.product form.cart .group_table td.label, .woocommerce-page #content div.product form.cart .group_table td.label {
    padding-right: 1em;
    padding-left: 1em;
}
.woocommerce div.product form.cart .group_table td, .woocommerce #content div.product form.cart .group_table td, .woocommerce-page div.product form.cart .group_table td, .woocommerce-page #content div.product form.cart .group_table td {
    vertical-align: top;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
    min-height: 32px;
	min-width: 32px;
	padding: 4px;
	font-size: 12px;
	position: absolute;
	margin: 0;
	color: #ffffff;
	top: 10px;
	border-radius: 0px;
	padding: 3px 6px;
	height: auto;
	margin: 0px;
	line-height: normal;
	text-shadow: none;
	box-shadow: none;
	min-height: 0px;
	right: 10px;
	text-transform: uppercase;
	font-weight: bold;
	min-width: 0px;
	font-size: 11px;
}
.woocommerce .button {
    text-transform: uppercase !important;
}
.woocommerce .products ul, .woocommerce ul.products, .woocommerce-page .products ul, .woocommerce-page ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
}
.woocommerce .products ul:after, .woocommerce ul.products:after, .woocommerce-page .products ul:after, .woocommerce-page ul.products:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .products ul li, .woocommerce ul.products li, .woocommerce-page .products ul li, .woocommerce-page ul.products li {
    list-style: none outside;
}
.woocommerce .related:after, .woocommerce .upsells.products:after, .woocommerce-page .related:after, .woocommerce-page .upsells.products:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .related ul.products, .woocommerce .related ul, .woocommerce .upsells.products ul.products, .woocommerce .upsells.products ul, .woocommerce-page .related ul.products, .woocommerce-page .related ul, .woocommerce-page .upsells.products ul.products, .woocommerce-page .upsells.products ul {
    float: none;
}
.woocommerce .related ul.products li.product img, .woocommerce .related ul li.product img, .woocommerce .upsells.products ul.products li.product img, .woocommerce .upsells.products ul li.product img, .woocommerce-page .related ul.products li.product img, .woocommerce-page .related ul li.product img, .woocommerce-page .upsells.products ul.products li.product img, .woocommerce-page .upsells.products ul li.product img {
    width: 100%;
    height: auto;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    float: left;
	margin: 0 4% 3% 0px;
	padding: 0;
	position: relative;
	width: 22%;
	margin-left: 0;
}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -6px -6px 0 0;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 1em;
}
.woocommerce ul.products li.product a, .woocommerce-page ul.products li.product a {
    text-decoration: none;
    font-size: 11px;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 8px;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.woocommerce ul.products li.product strong, .woocommerce-page ul.products li.product strong {
    display: block;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    display: block;
    font-weight: normal;
    margin-bottom: .5em;
}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
    font-size: 0.67em;
    color: rgba(145, 145, 145, 0.5);
    margin: -2px 0 0 0;
}
.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins {
    background: none;
}
.woocommerce ul.products li.product .price .from, .woocommerce-page ul.products li.product .price .from {
    font-size: 0.67em;
    margin: -2px 0 0 0;
    text-transform: uppercase;
    color: rgba(145, 145, 145, 0.5);
}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: both;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 0;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: left;
	margin: 0px 0px 20px 0px;
	line-height: 0px;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    margin: -40px 0px 40px 0px;
    float: right;
    width: 200px;
    max-width: 100%;
}
.woocommerce .woocommerce-ordering select, .woocommerce-page .woocommerce-ordering select {
    vertical-align: top;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce #content nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-right: 0;
    margin: 1px;
}
.woocommerce nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li {
    margin: 0px 15px 0px 0px;
    padding: 0;
    float: left;
    display: inline;
    overflow: hidden;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 35px;
    font-size: 13px;
    width: 35px;
    height: 35px;
    display: block;
	background: #efefef;
	color: #555;
    border: 1px solid #dedede;
    border-radius: 3px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
    text-align: center;
}

nav.woocommerce-pagination {
    margin: 0px 0px 90px 0px;
	padding-top: 90px;
	border-top: 1px solid #dedede;
    text-align: center;
}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a, .woocommerce-page .product-categories li a {
    color: #000;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
    font-size: 11px;
    margin: 0;
    line-height: 11px;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    overflow: visible;
    padding: 17px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: auto;
    color: #fff;
    border: none;
    background: #141414;
    white-space: nowrap;
    display: inline-block;
	-webkit-transition: 0.2s linear 0s;
	-moz-transition: 0.2s linear 0s;
	-o-transition: 0.2s linear 0s;
	transition: 0.2s linear 0s;
    letter-spacing: 2px;
}
.woocommerce a.button.loading, .woocommerce button.button.loading, .woocommerce input.button.loading, .woocommerce #respond input#submit.loading, .woocommerce #content input.button.loading, .woocommerce-page a.button.loading, .woocommerce-page button.button.loading, .woocommerce-page input.button.loading, .woocommerce-page #respond input#submit.loading, .woocommerce-page #content input.button.loading {
    color: #777777;
    border: 1px solid #f7f6f7;
}
.woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce-page .cart .button, .woocommerce-page .cart input.button {
    float: none;
}
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
    padding-top: .5em;
    white-space: nowrap;
    display: inline-block;
}
.woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity {
    width: 140px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}
.woocommerce .quantity input::-webkit-outer-spin-button, .woocommerce .quantity input::-webkit-inner-spin-button, .woocommerce #content .quantity input::-webkit-outer-spin-button, .woocommerce #content .quantity input::-webkit-inner-spin-button, .woocommerce-page .quantity input::-webkit-outer-spin-button, .woocommerce-page .quantity input::-webkit-inner-spin-button, .woocommerce-page #content .quantity input::-webkit-outer-spin-button, .woocommerce-page #content .quantity input::-webkit-inner-spin-button {
    display: none;
}
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
    width: 45px;
    height: 43px;
    float: left;
    padding: 0;
    text-align: center;
    border: 1px solid #dedede;
	border-right: none;
	border-left: none;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.woocommerce .quantity noindex:-o-prefocus, .woocommerce .quantity input[type=number], .woocommerce #content .quantity noindex:-o-prefocus, .woocommerce #content .quantity input[type=number], .woocommerce-page .quantity noindex:-o-prefocus, .woocommerce-page .quantity input[type=number], .woocommerce-page #content .quantity noindex:-o-prefocus, .woocommerce-page #content .quantity input[type=number] {
    padding-right: 1.2em;
}
.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
	float: left;
    text-align: center;
    vertical-align: text-top;
    width: 45px;
	height: 45px;
    text-decoration: none;
    overflow: visible;
    text-decoration: none;
    cursor: pointer;
    line-height: 40px;
    font-size: 14px;
    color: #141414;
	border: 1px solid #dedede;
	background: none;
}
.woocommerce #reviews h2 small, .woocommerce-page #reviews h2 small {
    float: right;
    color: #777777;
    font-size: 15px;
    line-height: 21px;
    margin: 10px 0 0 0;
}
.woocommerce #reviews h2 small a, .woocommerce-page #reviews h2 small a {
    text-decoration: none;
    color: #777777;
}
.woocommerce #reviews h3, .woocommerce-page #reviews h3 {
    margin: 0;
}
.woocommerce #reviews #respond, .woocommerce-page #reviews #respond {
    margin: 0;
    border: 0;
    padding: 0;
}
.woocommerce #reviews #comment, .woocommerce-page #reviews #comment {
    height: 75px;
}
.woocommerce #reviews #comments .add_review:after, .woocommerce-page #reviews #comments .add_review:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce #reviews #comments h2, .woocommerce-page #reviews #comments h2 {
    clear: none;
}
.woocommerce #reviews #comments ol.commentlist, .woocommerce-page #reviews #comments ol.commentlist {
    margin: 30px 0px 0px 0px;
    width: 100%;
    background: none;
    list-style: none;
}
.woocommerce #reviews #comments ol.commentlist:after, .woocommerce-page #reviews #comments ol.commentlist:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce #reviews #comments ol.commentlist li, .woocommerce-page #reviews #comments ol.commentlist li {
    padding: 00;
    margin: 0 0 30px;
    border: 0;
    position: relative;
    background: 0;
    border: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta, .woocommerce-page #reviews #comments ol.commentlist li .meta {
    color: #777777;
    font-size: 0.75em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: auto;
    margin-top: 8px;
    line-height: 1;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 50px;
	padding: 0px 10px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p {
    margin: 0 0 1em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 0.83em;
}
.woocommerce #reviews #comments .commentlist > li:before, .woocommerce-page #reviews #comments .commentlist > li:before {
    content: ""}
.woocommerce .star-rating, .woocommerce-page .star-rating {
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    width: 5.4em;
    font-family: 'star'
}
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
    content: "\73\73\73\73\73";
    color: #dedede;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.woocommerce .star-rating span, .woocommerce-page .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 15px;
}
.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
    display: block;
    margin: 5px 0px 10px;
    float: none;
}
.woocommerce .hreview-aggregate .star-rating, .woocommerce-page .hreview-aggregate .star-rating {
    margin: 10px 0 0 0;
}
.woocommerce #review_form #respond, .woocommerce-page #review_form #respond {
    position: static;
    margin: 0;
    width: auto;
    padding: 0 0 0;
    background: transparent none;
    border: 0;
}
.woocommerce #review_form #respond:after, .woocommerce-page #review_form #respond:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce #review_form #respond p, .woocommerce-page #review_form #respond p {
    margin: 0 0 10px;
}
.woocommerce #review_form #respond .form-submit input, .woocommerce-page #review_form #respond .form-submit input {
    left: auto;
}
.woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.woocommerce p.stars:after, .woocommerce-page p.stars:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce p.stars span, .woocommerce-page p.stars span {
    width: 80px;
    height: 16px;
    position: relative;
    float: left;
    background: url(../img/star.png) repeat-x left 0;
}
.woocommerce p.stars span a, .woocommerce-page p.stars span a {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 0;
    padding-top: 16px;
    overflow: hidden;
}
.woocommerce p.stars span a:hover, .woocommerce p.stars span a:focus, .woocommerce-page p.stars span a:hover, .woocommerce-page p.stars span a:focus {
    background: url(../img/star.png) repeat-x left -16px;
}
.woocommerce p.stars span a.active, .woocommerce-page p.stars span a.active {
    background: url(../img/star.png) repeat-x left -32px;
}
.woocommerce p.stars span a.star-1, .woocommerce-page p.stars span a.star-1 {
    width: 16px;
    z-index: 10;
}
.woocommerce p.stars span a.star-2, .woocommerce-page p.stars span a.star-2 {
    width: 32px;
    z-index: 9;
}
.woocommerce p.stars span a.star-3, .woocommerce-page p.stars span a.star-3 {
    width: 48px;
    z-index: 8;
}
.woocommerce p.stars span a.star-4, .woocommerce-page p.stars span a.star-4 {
    width: 64px;
    z-index: 7;
}
.woocommerce p.stars span a.star-5, .woocommerce-page p.stars span a.star-5 {
    width: 80px;
    z-index: 6;
}
.woocommerce table.shop_attributes, .woocommerce-page table.shop_attributes {
    border: 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 1.618em;
    width: 100%}
.woocommerce table.shop_attributes th, .woocommerce-page table.shop_attributes th {
    width: 150px;
    font-weight: bold;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin: 0;
    line-height: 1.5em;
}
.woocommerce table.shop_attributes td, .woocommerce-page table.shop_attributes td {
    font-style: italic;
    padding: 0;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin: 0;
    line-height: 1.5em;
}
.woocommerce table.shop_attributes td p, .woocommerce-page table.shop_attributes td p {
    margin: 0;
    padding: 8px 0;
}
.woocommerce table.shop_attributes .alt td, .woocommerce table.shop_attributes .alt th, .woocommerce-page table.shop_attributes .alt td, .woocommerce-page table.shop_attributes .alt th {
    background: rgba(0, 0, 0, 0.025);
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    border: none;
    margin: 0px -1px 0px 0px;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border: 1px solid #dedede;
}
.woocommerce-page.woocommerce-checkout table.shop_table {
    border-bottom: none;
}
.woocommerce table.shop_table thead, .woocommerce-page table.shop_table thead {
    background: #e5e5e5;
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
    line-height: 18px;
    padding: 20px 20px;
	border: none;
	text-transform: none;
    color: #555;
    font-weight: normal;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
    border: none;
    padding: 20px;
    vertical-align: middle;
}
.woocommerce table.shop_table.cart td {
    padding: 25px;
}
.woocommerce table.shop_table td small, .woocommerce-page table.shop_table td small {
    font-weight: normal;
}
.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th {
    border-top: 1px solid #dedede;
}
table.shop_table .checkout_table_item td {
	border-top: 1px solid #dedede;
}
.woocommerce table.shop_table.cart thead tr th{
	border-bottom: 1px solid #dedede !important;
	padding-bottom: 20px;
}
.woocommerce table.shop_table thead tr th{
	padding-bottom: 20px;
}
.woocommerce table.shop_table tfoot tr td {
	color: #000;
}
.woocommerce table.shop_table tr td.actions {
	border-top: 1px solid #dedede !important;
	padding-top: 50px;
}
.cart_table_item td {
	border-bottom: 1px solid #dedede !important;
}
.woocommerce table.my_account_orders, .woocommerce-page table.my_account_orders {
    font-size: 0.85em;
}
.woocommerce table.my_account_orders th, .woocommerce table.my_account_orders td, .woocommerce-page table.my_account_orders th, .woocommerce-page table.my_account_orders td {
    padding: 4px 8px;
    vertical-align: middle;
}
.woocommerce table.my_account_orders .button, .woocommerce-page table.my_account_orders .button {
    white-space: nowrap;
}
.woocommerce table.my_account_orders .order-actions, .woocommerce-page table.my_account_orders .order-actions {
    text-align: right;
}
.woocommerce table.my_account_orders .order-actions .button, .woocommerce-page table.my_account_orders .order-actions .button {
    margin: .125em 0 .125em .25em;
}
.woocommerce td.product-name dl.variation, .woocommerce-page td.product-name dl.variation {
    margin: .25em 0 .5em;
    font-size: 0.8751em;
}
.woocommerce td.product-name dl.variation dt, .woocommerce-page td.product-name dl.variation dt {
    font-weight: bold;
    float: left;
    clear: left;
    margin: 0 .25em 0 0;
    padding: 0;
}
.woocommerce td.product-name dl.variation dd, .woocommerce-page td.product-name dl.variation dd {
    margin: 0 0 .25em 0;
}
.woocommerce td.product-name p.backorder_notification, .woocommerce-page td.product-name p.backorder_notification {
    font-size: 0.83em;
}
.woocommerce td.product-quantity, .woocommerce-page td.product-quantity {
    min-width: 80px;
}
.woocommerce table.cart .product-thumbnail, .woocommerce #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail {
    min-width: 32px;
}
.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
    width: 50px;
    height: auto;
}
.woocommerce table.cart th, .woocommerce table.cart td, .woocommerce #content table.cart th, .woocommerce #content table.cart td, .woocommerce-page table.cart th, .woocommerce-page table.cart td, .woocommerce-page #content table.cart th, .woocommerce-page #content table.cart td {
    vertical-align: middle;
}
.woocommerce table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce-page #content table.cart a.remove {
    font-size: 30px;
	height: 24px;
	width: 24px;
	text-align: center;
	line-height: 1;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-decoration: none;
	font-weight: bold;
	content: none;
	color: #141414;
	display: inline-block;
	-webkit-transition: 0.2s linear 0s;
	-moz-transition: 0.2s linear 0s;
	-o-transition: 0.2s linear 0s;
	transition: 0.2s linear 0s;
}
.woocommerce table.cart td.actions, .woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
    text-align: right;
}
.woocommerce table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
    float: left;
}
.woocommerce table.cart td.actions .coupon label, .woocommerce #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label {
    display: none;
}
.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
    width: 220px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dedede;
    margin: 0 10px 0 0;
    outline: 0;
	height: 45px;
}
.woocommerce table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .button.alt {
    float: right;
    margin-left: 10px;
	height: 45px;
}
.woocommerce table.cart td.actions input[type=submit] {
	height: 45px !important;
}


/* ===========================
    Woocommerce Widgets
   =========================== */

.woocommerce ul.cart_list, .woocommerce ul.product_list_widget, .woocommerce-page ul.cart_list, .woocommerce-page ul.product_list_widget {
    list-style: none outside;
    padding: 0;
    margin: 0;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 25px;
}
.woocommerce ul.cart_list li.be-last-child, 
.woocommerce ul.product_list_widget li.be-last-child, 
.woocommerce-page ul.cart_list li.be-last-child, 
.woocommerce-page ul.product_list_widget li.be-last-child,
.woocommerce ul.cart_list li:last-child, 
.woocommerce ul.product_list_widget li:last-child, 
.woocommerce-page ul.cart_list li:last-child, 
.woocommerce-page ul.product_list_widget li:last-child {
	border-bottom: none;
	padding: 0px 0px 0px 0px;
}
.woocommerce ul.cart_list li:after, .woocommerce ul.product_list_widget li:after, .woocommerce-page ul.cart_list li:after, .woocommerce-page ul.product_list_widget li:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
    display: block;
	-webkit-transition: 0.2s linear 0s;
    -moz-transition: 0.2s linear 0s;
    -o-transition: 0.2s linear 0s;
    transition: 0.2s linear 0s;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
    float: right;
    margin-left: 10px;
    width: 40px;
    height: auto;
}
.woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl, .woocommerce-page ul.cart_list li dl, .woocommerce-page ul.product_list_widget li dl {
    margin: 0;
    font-size: 0.8751em;
    padding-left: 1em;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt, .woocommerce-page ul.cart_list li dl dt, .woocommerce-page ul.product_list_widget li dl dt {
    float: left;
    clear: left;
    margin-right: .25em;
}
.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd, .woocommerce-page ul.cart_list li dl dd, .woocommerce-page ul.product_list_widget li dl dd {
    margin-bottom: .5em;
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating, .woocommerce-page ul.cart_list li .star-rating, .woocommerce-page ul.product_list_widget li .star-rating {
    float: none;
}
.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
    padding: 15px 0 0;
	border-top: 1px solid #dedede;
	margin-top: 15px;
}
.woocommerce .widget_shopping_cart .total strong, .woocommerce-page .widget_shopping_cart .total strong {
    min-width: 40px;
    display: inline-block;
}
.woocommerce .widget_shopping_cart .buttons:after, .woocommerce-page .widget_shopping_cart .buttons:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100%;
    margin-top: 45px;
}
.woocommerce .cart-collaterals:after, .woocommerce-page .cart-collaterals:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .cart-collaterals .related, .woocommerce-page .cart-collaterals .related {
    width: 30.75%;
    float: left;
}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
    width: 48%;
    float: left;
}
.woocommerce .cart-collaterals .cross-sells ul.products, .woocommerce-page .cart-collaterals .cross-sells ul.products {
    float: none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 48%;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    width: 48%;
    text-align: right;
    clear: right;
    float: right;
}
.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .cart-collaterals .shipping_calculator .button, .woocommerce-page .cart-collaterals .shipping_calculator .button {
    width: 100%;
    float: none;
    display: block;
}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
    width: 47%;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: left;
    width: 48%;
}
.woocommerce .cart-collaterals .cart_totals p, .woocommerce-page .cart-collaterals .cart_totals p {
    margin: 0;
}
.woocommerce .cart-collaterals .cart_totals p small, .woocommerce-page .cart-collaterals .cart_totals p small {
    color: #777777;
    font-size: 0.83em;
}
.woocommerce .cart-collaterals .cart_totals table tr:first-child th, .woocommerce .cart-collaterals .cart_totals table tr:first-child td, .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td {
    border-top: 0;
}
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table th {
    padding: 6px 3px;
}
.woocommerce .cart-collaterals .cart_totals table small, .woocommerce-page .cart-collaterals .cart_totals table small {
    display: block;
    color: #777777;
}
.woocommerce .cart-collaterals .cart_totals table select, .woocommerce-page .cart-collaterals .cart_totals table select {
    width: 100%}
.woocommerce .cart-collaterals .cart_totals .discount td, .woocommerce-page .cart-collaterals .cart_totals .discount td {
    color: #26cda4;
}
.woocommerce .cart-collaterals .cart_totals tr td, .woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr td, .woocommerce-page .cart-collaterals .cart_totals tr th {
    border: none;
	padding: 6px 6px;
	text-align: left;
}
.woocommerce .cart-collaterals .cart_totals a.button.alt, .woocommerce-page .cart-collaterals .cart_totals a.button.alt {
    width: 193px;
    display: block;
    font-size: 0.92em;
}
.woocommerce form .form-row, .woocommerce-page form .form-row {
    margin: 0px 0px 30px 0px;
}
.woocommerce form .form-row:after, .woocommerce-page form .form-row:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder, .woocommerce-page form .form-row [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.5s 0.5s ease;
    -moz-transition: opacity 0.5s 0.5s ease;
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    display: block;
	margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: #555;
}
.woocommerce form .form-row label.hidden, .woocommerce-page form .form-row label.hidden {
    visibility: hidden;
}
.woocommerce form .form-row select, .woocommerce-page form .form-row select {
    width: 100%;
    cursor: pointer;
    margin: 0;
}
.woocommerce form .form-row .required, .woocommerce-page form .form-row .required {
    color: #2F3239;
    font-weight: bold;
    border: 0;
}
.woocommerce form .form-row .input-checkbox, .woocommerce-page form .form-row .input-checkbox {
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
}
.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox {
    display: inline;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1em;
}
.woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {
    height: 3.5em;
    line-height: 1.5em;
    display: block;
}
.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text, .woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
    background-image: url(../img/icons/valid.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text, .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
    background-image: url(../img/icons/invalid.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-single, .woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-drop, .woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text, .woocommerce form .form-row.validate-required.woocommerce-invalid select, .woocommerce-page form .form-row.validate-required.woocommerce-invalid .chosen-single, .woocommerce-page form .form-row.validate-required.woocommerce-invalid .chosen-drop, .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text, .woocommerce-page form .form-row.validate-required.woocommerce-invalid select {
    border-color: #dd6868;
}
.woocommerce form .form-row ::-webkit-input-placeholder, .woocommerce-page form .form-row ::-webkit-input-placeholder {
    line-height: 1em;
    padding-top: 2px;
}
.woocommerce form .form-row :-moz-placeholder, .woocommerce-page form .form-row :-moz-placeholder {
    line-height: 1em;
    padding-top: 2px;
}
.woocommerce form .form-row :-ms-input-placeholder, .woocommerce-page form .form-row :-ms-input-placeholder {
    line-height: 1em;
    padding-top: 2px;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible;
}
.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: right;
}
.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
    clear: both;
}
.woocommerce form.login, .woocommerce form.checkout_coupon, .woocommerce form.register, .woocommerce-page form.login, .woocommerce-page form.checkout_coupon, .woocommerce-page form.register {
    border: 1px solid #dedede;
    padding: 50px;
    margin: 0px 0px 50px 0px;
    text-align: left;
}
.woocommerce ul#shipping_method, .woocommerce-page ul#shipping_method {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.woocommerce ul#shipping_method li, .woocommerce-page ul#shipping_method li {
    margin: 0;
    padding: .25em 0 .25em 22px;
    text-indent: -22px;
    list-style: none outside;
}
.woocommerce ul#shipping_method .amount, .woocommerce-page ul#shipping_method .amount {
    font-weight: bold;
}
.woocommerce .checkout .col-2 h3, .woocommerce-page .checkout .col-2 h3 {
    float: left;
    clear: none;
}
.woocommerce .checkout .col-2 .notes, .woocommerce-page .checkout .col-2 .notes {
    clear: left;
}
.woocommerce .checkout .col-2 .form-row-first, .woocommerce-page .checkout .col-2 .form-row-first {
    clear: left;
}
.woocommerce .checkout div.shipping-address, .woocommerce-page .checkout div.shipping-address {
    padding: 0;
    clear: left;
    width: 100%}
.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling {
    float: right;
    line-height: 43px;
    margin: 0 0 0 0;
    padding: 0;
}
.woocommerce .checkout #shiptobilling label, .woocommerce-page .checkout #shiptobilling label {
    font-size: 0.6875em;
}
.woocommerce .checkout .shipping_address, .woocommerce-page .checkout .shipping_address {
    clear: both;
}
.woocommerce #payment, .woocommerce-page #payment {
	margin-bottom: 30px;
}
.woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods {
    text-align: left;
    padding: 20px;
    border: 1px solid #dedede;
    margin: 0;
    list-style: none outside;
}
.woocommerce #payment ul.payment_methods:after, .woocommerce-page #payment ul.payment_methods:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li {
    line-height: 2em;
    text-align: left;
    margin: 0;
    font-weight: normal;
}
.woocommerce #payment ul.payment_methods li input, .woocommerce-page #payment ul.payment_methods li input {
    margin: 0 1em 0 0;
}
.woocommerce #payment ul.payment_methods li img, .woocommerce-page #payment ul.payment_methods li img {
    vertical-align: middle;
    margin: -2px 0 0 .5em;
    position: relative;
}
.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row {
    padding: 50px 0px 20px 0px;
    border-top: 1px solid #ffffff;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: right;
    margin: 0;
}
.woocommerce #payment .terms, .woocommerce-page #payment .terms {
    padding: 0 1em 0;
    text-align: right;
}
.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box {
    position: relative;
	padding: 20px 0px;
	margin: 0px;
	font-size: 0.92em;
	line-height: 1.5em;
	color: #5e5e5e;
}
.woocommerce #payment div.payment_box p:last-child, .woocommerce-page #payment div.payment_box p:last-child {
    margin-bottom: 0;
}
.woocommerce #payment div.payment_box #cc-expire-month, .woocommerce #payment div.payment_box #cc-expire-year, .woocommerce-page #payment div.payment_box #cc-expire-month, .woocommerce-page #payment div.payment_box #cc-expire-year {
    width: 48%;
    float: left;
}
.woocommerce #payment div.payment_box #cc-expire-year, .woocommerce-page #payment div.payment_box #cc-expire-year {
    float: right;
}
.woocommerce #payment div.payment_box span.help, .woocommerce-page #payment div.payment_box span.help {
    font-size: 11px;
    color: #777777;
    line-height: 13px;
    font-weight: normal;
}
.woocommerce #payment div.payment_box .form-row, .woocommerce-page #payment div.payment_box .form-row {
    margin: 0 0 1em;
}
.woocommerce #payment div.payment_box .form-row select, .woocommerce-page #payment div.payment_box .form-row select {
    width: 48%;
    float: left;
    margin-right: 3.8%}
.woocommerce #payment div.payment_box .form-row select:nth-child(3n), .woocommerce-page #payment div.payment_box .form-row select:nth-child(3n) {
    margin-right: 0;
}
.woocommerce .order_details, .woocommerce-page .order_details {
    margin: 0 0 1.5em;
    list-style: none;
}
.woocommerce .order_details:after, .woocommerce-page .order_details:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .order_details li, .woocommerce-page .order_details li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: 0.715em;
    line-height: 1em;
    border-right: 1px dashed #dfdbdf;
    padding-right: 2em;
}
.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
    display: block;
    font-size: 1.4em;
    text-transform: none;
    line-height: 1.5em;
}
.woocommerce .order_details li:last-of-type, .woocommerce-page .order_details li:last-of-type {
    border: none;
}
.woocommerce .addresses .title:after, .woocommerce-page .addresses .title:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .addresses .title h3, .woocommerce-page .addresses .title h3 {
    float: left;
}
.woocommerce .addresses .title .edit, .woocommerce-page .addresses .title .edit {
    float: right;
}
.woocommerce ol.commentlist.notes li.note p.meta, .woocommerce-page ol.commentlist.notes li.note p.meta {
    font-weight: bold;
    margin-bottom: 0;
}
.woocommerce ol.commentlist.notes li.note .description p:last-child, .woocommerce-page ol.commentlist.notes li.note .description p:last-child {
    margin-bottom: 0;
}
.woocommerce ul.digital-downloads, .woocommerce-page ul.digital-downloads {
    margin-left: 0;
    padding-left: 0;
}
.woocommerce ul.digital-downloads li, .woocommerce-page ul.digital-downloads li {
    list-style: none;
    margin-left: 0;
    padding-left: 1.5em;
    background: url(data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat;
}
.woocommerce ul.digital-downloads li .count, .woocommerce-page ul.digital-downloads li .count {
    float: right;
}
.woocommerce .widget_layered_nav ul, .woocommerce-page .widget_layered_nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;
}
.woocommerce .widget_layered_nav ul li, .woocommerce-page .widget_layered_nav ul li {
    padding: 0 0 1px;
    list-style: none;
}
.woocommerce .widget_layered_nav ul li:after, .woocommerce-page .widget_layered_nav ul li:after {
    content: "";
    display: block;
    clear: both;
}
.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span, .woocommerce-page .widget_layered_nav ul li a, .woocommerce-page .widget_layered_nav ul li span {
    padding: 1px 0;
    float: left;
}
.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a {
    padding: 0 6px 0 18px;
    border: 1px solid #ad74a2;
    background: #ad74a2 url(../img/cross_white.png) no-repeat 6px center;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.woocommerce .widget_layered_nav ul small.count, .woocommerce-page .widget_layered_nav ul small.count {
    float: right;
    margin-left: 6px;
    font-size: 1em;
    padding: 1px 0;
    color: #777777;
}
.woocommerce .widget_layered_nav_filters ul, .woocommerce-page .widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;
    overflow: hidden;
    zoom: 1;
}
.woocommerce .widget_layered_nav_filters ul li, .woocommerce-page .widget_layered_nav_filters ul li {
    float: left;
    padding: 0 1px 1px 0;
    list-style: none;
}
.woocommerce .widget_layered_nav_filters ul li a, .woocommerce-page .widget_layered_nav_filters ul li a {
    padding: 2px 10px;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
}
.woocommerce .widget_price_filter .price_slider, .woocommerce-page .widget_price_filter .price_slider {
    margin-bottom: 20px;
}
.woocommerce .widget_price_filter .price_slider_amount, .woocommerce-page .widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
    font-size: 1.15em;
}
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
    float: left;
    padding: 10px 8px 10px 10px !important;
    height: auto;
    font-size: 11px;
}
.woocommerce .widget_price_filter .ui-slider, .woocommerce-page .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    top: -0.35em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #ad74a2 url(data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border: 1px solid #dedede;
    background: none;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    background: #141414;
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal {
    height: .5em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}
.twentythirteen .entry-summary {
    padding: 0;
}


/*****************************************************/
.woocommerce .three-col-product ul.products li.product, .woocommerce-page .three-col-product ul.products li.product {
	margin: 0 4.25% 4.25% 0;
	width: 30.5%;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
	margin:0px;
}
.product-thumbnail-image-wrap,.product-meta-data {
	position: relative;
}
.button_ajax_wrapper {
	position: absolute;
	bottom: 100%;
	width: 50px;
    padding: 25px 0px;
	right: 0px;
	overflow: hidden;
	margin: 0px 5px 5px 0px;
}

a.added_to_cart {
	display: none !important;
}

.woocommerce  a.button.product_type_simple,
.woocommerce  a.button.product_type_simple.added,
.woocommerce  a.button.product_type_simple:hover {
	position: absolute;
	right: 0px;
	bottom: -50px;
	padding: 7px 12px 7px 12px !important;
	line-height: 28px !important;
	border: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #000;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
	color: #fff;
	font-size: 14px !important;	
    margin-right: 0px !important;
}
.woocommerce .products .product:hover   a.button.product_type_simple,
.woocommerce .products .product:hover   a.button.product_type_simple.added {
	bottom: 0px;
}
.button.product_type_simple:before, 
.button.product_type_simple.added:before {
    content: '\e811';
    font-family: 'be-themes';
    font-size: 20px !important;
    width: 19px;
    display: block;
}
.add_to_cart_button.button.product_type_simple:before, 
.add_to_cart_button.button.product_type_simple.added:before {
	content: '\e940';
    font-family: 'be-themes';
    font-size: 15px !important;
}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .product-thumbnail-image-wrap span.onsale, .woocommerce-page .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .product-thumbnail-image-wrap span.onsale {
	left: 10px;
	right: auto;
	top: 10px;
	border-radius: 0px;
	padding: 3px 6px;
	height: auto;
	margin: 0px;
	line-height: normal;
	text-shadow: none;
	box-shadow: none;
	min-height: 0px;
	font-size: 11px;
	width: auto;
	min-width: 0px;
	border-radius: 2px;
}

.woocommerce ul.products li.product .product-meta-data h3, .woocommerce-page ul.products li.product .product-meta-data h3 {
    display: inline-block;
    font-size: 13px;
    line-height: 23px;
    margin-top: 15px;
    padding: 0;
	font-weight: normal;
	color: #272934;
	text-transform: uppercase;
    letter-spacing: 2px;
}
.woocommerce .woocommerce-ordering select.orderby, .woocommerce-page .woocommerce-ordering select.orderby {
	padding: 10px;
	margin: 0px;
	border: 1px solid #dedede;
	font-weight: bold;
}

.woocommerce-page .price_slider_amount .button,
.woocommerce-page .price_slider_amount .button:hover,
.woocommerce-page .widget_shopping_cart_content .buttons a.button:hover,
.woocommerce-page .widget_shopping_cart_content .buttons a.button {
	background: #141414;
	color: #fff;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
	padding: 15px;
	-webkit-transition: 0.2s linear 0s;
    -moz-transition: 0.2s linear 0s;
    -o-transition: 0.2s linear 0s;
    transition: 0.2s linear 0s;
}
.woocommerce .widget_shopping_cart_content .button {
    font-size: 10px !important;
}
.woocommerce .widget_shopping_cart_content .button.checkout {
    background: #26cda4 !important;
}
.woocommerce-page .widget_shopping_cart_content .buttons a.button.checkout {
	float: right;
}
.price_slider_amount {
	width: 100%;
}
.price_slider_amount .price_label {
	float: right;
}
.product-categories {
	padding: 0px;
	list-style: none;
}
.product-categories li {
	padding-left: 25px;
}
.product-categories li:before {
    content: '\e878';
    font-family: "be-themes";
    display: inline-block;
    margin-left: -25px;
    width: 25px;
    font-size: 14px;
}

.product-categories li span {
	float: right;
	color: #777777;
}
.tagcloud a {
	padding: 8px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
label.screen-reader-text {
	display: none;
}

.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
	font-size: 11px;
}

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    color: #000;
	font-size: 14px;
	font-weight: bold;
}
.star-rating span {
	color: #000;
}
.woocommerce-page a.button.product_type_simple {	
	margin-right: 15px;
	line-height: 10px;
	padding: 10px 10px;
	height: auto;
}

.be-wrap.clearfix.three-col-product #right-sidebar {
	padding: 0px;
	float: right;
}

.woocommerce .widget_featured_products {
	position: relative;
}
.woocommerce .widget_featured_products ul.product_list_widget {
	overflow: hidden;
	width: 100% !important;
	position: relative;
}
.woocommerce .widget_featured_products ul.product_list_widget a{
	display: block;
	float: none;
	font-size: 13px;
	margin-bottom: 10px;
}
.woocommerce .widget_featured_products ul.product_list_widget li img {
	width: 100%;
	margin: 0px 0px 20px 0px;
	float: none;
}
.woocommerce .widget_featured_products ul.product_list_widget li {
	border: none;
}
.woocommerce .widget_featured_products ul.product_list_widget li > *{
	display: block;
}
.woocommerce .widget_featured_products .flex-direction-nav a {
	bottom: 50%;
}
.cart_totals h2,.shipping_calculator h2 {
	font-size: 16px;
    letter-spacing: 2px;
    line-height: 25px;
}
.cart_totals h2 {
    margin-bottom: 0px;
}
.cart-collaterals {
	margin-bottom: 50px;
}
.cart_totals th strong,.cart_totals th {
	text-transform: none;
	font-weight: normal;
}
#calc_shipping_country {
	padding: 10px;
	border: 1px solid #cac3d4;
	font-weight: bold;
	height: 45px;
}

.cart_totals table {
	width: 50%;
}
.product_meta:before,.product_meta:before {
	content: '';
	clear: both;
	display: block;
}
.product_meta {
	display: block;
	margin-bottom: 20px;
}
.woocommerce-page .woocommerce-tabs h2 {
	font-size: 13px;
	line-height: 1em;
	margin-bottom: 20px;
    letter-spacing: 2px;
}
.mfp-content #review_form {
	display: block;
	max-width: 500px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	position: relative;
}
#review_form #reply-title {
	font-size: 13px;
	line-height: 27px;
	margin-bottom: 20px;
}
.add_review {
	margin-bottom: 0px;
}

.summary.entry-summary .price del {
	display: none;
}
.summary.entry-summary .price ins {
	font-size: 45px;
}
.summary.entry-summary .price {
    margin-bottom: 50px;
    font-size: 45px;
    color: #000;
}
.related.products h2 {
    font-size: 20px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.product_list_widget .star-rating {
	margin: 5px 0px 5px 0px;
}
.checkout_coupon .form-row.form-row-first,.checkout_coupon .form-row.form-row-last {
	margin-bottom: 0px;
}
.custom-rating .star-rating {
	float: left;
}
.custom-rating {
	margin-bottom: 35px;
}
.woocommerce .single_add_to_cart_button.button.alt {
	padding: 17px 18px 17px 20px;
}
td.product-name a {
	color: inherit;
}
td.product-name {
    letter-spacing: 2px;
    font-size: 12px;
    color: #000;
}
td.product-total, td.product-subtotal {
    color: #000;
    font-weight: bold;
}
.cart_totals tr td strong {
	color: #777777;
	font-weight: normal;
}
.cart_totals tr {
	border-top: 1px solid #dedede;
}
.cart_totals tr.cart-subtotal {
	border-top: none;
}
.cart_totals tr th, .cart_totals tr td {
	padding: 20px 0px !important;
}
.cart_totals tr td {
	text-align: right !important;
}
.shipping-calculator-button span {
	display: none;
}
#shipping_country_chosen {
	width: 99% !important;
}
.widget_shopping_cart_content .buttons a.button {
    padding: 12px 10px 12px 12px !important;
    font-size: 11px;
    height: auto;
}
.widget_product_search #s {
    height: 45px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 0px;
    width: 99%;
}
.widget_product_search #searchsubmit {
	display: none;
}
#searchform {
	position: relative;
}
.widget_product_search #searchform:after {
	content: '\e803';
	font-family: 'be-themes';
	position: absolute;
	top: 50%;
	right: 10px;
	font-size: 13px;
	margin-top: -13px;
}
.chosen-container-single .chosen-single span:after,.chosen-search:after {
    content: '\e876';
    font-family: 'be-themes';
    position: absolute;
    right: 10px;
    font-size: 14px;
}
.chosen-search:after {
    content: '\e803';
}

#customer_details .col-1 h3,
#customer_details .col-2 h3,
#order_review_heading {
	font-size: 20px;
    letter-spacing: 2px;
}
.payment_methods.methods li label {
	color: #000;
}
#shiptobilling label {
	font-weight: normal;
	font-size: 11px;
}
form.login a.lost_password {
	font-weight: bold;
	padding-left: 10px;
}
#account_password-2_field label {
	visibility: visible;
	display: block !important;
}
.chosen-container-single .chosen-single div b {
	background: none !important;
}
.chosen-container-single .chosen-single span:after {
	content: '\e876';
}
.chosen-container-single .chosen-single div {
    display: none !important;
}
.chosen-container-single .chosen-single {
	padding: 0px 15px !important;
	height: auto !important;
	background: none !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	outline: none !important;
	border: none !important;
	line-height: 45px !important;
}
.chosen-container, .chosen-container-single .chosen-drop,.chosen-container-single .chosen-search input {
	width: 100% !important;
}
.post-type-archive-product .chosen-container {
	width: 198px !important;
}
.chosen-container-single .chosen-search input {
	padding: 0px !important;
	text-indent: 15px;
	border: none !important;
	border-bottom: 1px solid #dedede !important;
	background: none !important;
}
.chosen-container-single .chosen-search {
	padding: 0px !important;
}
.chosen-container .chosen-drop {
	border: 1px solid #dedede !important;
	border-bottom: none !important;
    box-shadow: none !important;
}
.chosen-container {
	border: 1px solid #dedede;
}
.chosen-container .chosen-results {
	padding: 0px !important;
	margin: 0px !important;
}
.chosen-container .chosen-results li {
	line-height: 35px !important;
	padding: 0px 15px !important;
	border-bottom: 1px solid #dedede;
	color: #000 !important;
}

.chosen-container .chosen-results .highlighted, .woocommerce-page.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b {
	background: none !important;
}
.chosen-container-single .chosen-drop {
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	margin-top: 0px !important;
}
.chosen-container.orderby .chosen-search input {
	display: none;
}
.chosen-container.orderby .chosen-single {
	line-height: 45px !important;
}
.chosen-container.orderby .chosen-search:after {
	display: none;
}
.add_review a.button {
	height: auto;
}
.shipping-calculator-form .form-row.form-row-wide {
	text-align: left;
}
.summary.entry-summary h1.product_title.entry-title {
	margin-bottom: 20px;
}
.mfp-content #review_form #commentform input[type="text"], 
.mfp-content #review_form #commentform input[type="email"], 
.mfp-content #review_form #commentform input[type="password"] {
	margin: 0px;
	display: block;
}
.mfp-content #review_form #commentform p.comment-form-author
.mfp-content #review_form #commentform p.comment-form-email
.mfp-content #review_form #commentform p.comment-form-rating
.mfp-content #review_form #commentform p.comment-form-comment {
	margin: 0px 0px 15px 0px !important;
}
.mfp-content #review_form #commentform label {
	font-weight: bold;
	display: inline-block;
	color: #2F3239;
	margin-bottom: 10px;
}
.mfp-content #review_form #commentform #comment {
	height: 100px;
}
.mfp-title {
	text-transform: capitalize;
}
.chosen-container .chosen-single span {
	line-height: 40px !important;
}
a.button.product_type_simple {
	font-weight: normal !important;
}
#calc_shipping_state_chzn {
	text-align: left;
}
.woocommerce-page #content input.button.alt#place_order {
	background: #26cda4;
    padding: 20px 18px 20px 20px;
}
#reviews #comments ol.commentlist .comment_container .comment-text .meta {
	margin-bottom: 5px;
}
#reviews #comments ol.commentlist .comment_container .comment-text .meta strong {
	font-size: 13px;
	font-weight: bold;
	text-transform: capitalize;
}
#reviews #comments ol.commentlist .comment_container .comment-text .meta time {
	font-size: 13px;
}
.products .product br,.products .product p:empty {
	display: none;
}
.product-meta-data p{
	margin-bottom: 0px;
}
span.price {
	margin-bottom:0px;
}
.related.products ul.products:after {
	border-bottom: none !important;
}



/* ===========================
    Woocommerce Notifications
   =========================== */

.woocommerce-message, 
.woocommerce-error, 
.woocommerce-info {
    padding: 17px 60px;
    margin: 0px 0px 30px 0px;
    position: relative;
    list-style: none outside;
    border-radius: 3px;
    width: auto;
}
.woocommerce-message {
    background: #26cda4;
    color: #fff;
}
.woocommerce-info {
    background: #000;
    color: #999;
}
.woocommerce-info a {
    color: #fff;
}
.woocommerce-error {
    background: #dd6868;
    color: #fff;
}
.woocommerce-page .woocommerce-message .button, 
.woocommerce-page .woocommerce-error .button, 
.woocommerce-page .woocommerce-info .button {
    float: right;
    padding: 0px;
    font-size: 12px;
    height: auto;
    background: none !important;
    line-height: inherit;
}
.woocommerce-message li, 
.woocommerce-error li, 
.woocommerce-info li {
    list-style: none outside;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'star';
    src: url('../fonts/star/star.eot');
    src: url('../fonts/star/star.eot?#iefix') format('embedded-opentype'),  url('../fonts/star/star.woff') format('woff'),  url('../fonts/star/star.ttf') format('truetype'),  url('../fonts/star/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}


/***************************
Header Cart Widget
***************************/
div.header-cart-controls {
	position: relative;
    float: right;
}
.widget_shopping_cart_wrap {
	position: absolute;
	width: 240px;
	max-width: 240px;
	line-height: normal;
	top: 100%;
	right: 0px;
	background: #fff;
	padding: 25px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.23);
	display: none;
	overflow: hidden;
	border-top: 1px solid #dedede;
	z-index: 2;
	text-align: left;
}

.widget_shopping_cart_wrap .widget .widgettitle {
	font-size: 20px;
	line-height: 30px;
	display: none;
}
.widget_shopping_cart_wrap .widget .product_list_widget img {
	margin-top: 3px !important;
}
.widget_shopping_cart_wrap .widget .product_list_widget a {
	margin-bottom: 8px;
    font-size: 11px;
}
.widget_shopping_cart_wrap .widget_shopping_cart .total {
	border-top: 1px solid #dedede;
	padding-top: 15px;
	margin-bottom: 15px;
}
.widget_shopping_cart_wrap .widget p.buttons a.button {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    padding: 15px !important;
    border-radius: 3px;
}
.widget_shopping_cart_wrap .widget_shopping_cart .total .amount {
	color: #000;
    font-weight: bold;
}
.widget_shopping_cart_wrap .widget ul.product_list_widget li:last-child {
	margin-bottom: 20px !important;
}

.widget_shopping_cart_wrap .widget.woocommerce.widget_shopping_cart,
.widget_shopping_cart_wrap .widget p.buttons a.button,
.widget_shopping_cart_wrap .widget p.buttons a.button.checkout {
    margin-bottom: 0px !important;
}
.header-cart-controls .widget_shopping_cart_wrap .widget p.buttons a.button {
    float: left;
}
.header-cart-controls .widget_shopping_cart_wrap .widget p.buttons a.button.checkout {
    float: right;
}

p.return-to-shop {
	margin-bottom: 60px;
}
.product-thumbnail-image-wrap {
	overflow: hidden;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .price_slider_amount .button:hover {
	background: #000;
}
/******************************************************/
.product-meta-data {
	text-align: center;
}
.product-meta-data .star-rating {
	width: 60px;
	margin: 5px auto 10px !important;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-search input { 
    line-height: 35px !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .woocommerce div.product .product_title,   
    .woocommerce #content div.product .product_title, 
    .woocommerce-page div.product .product_title, 
    .woocommerce-page #content div.product .product_title {
        width: 413px;
    }
}
@media only screen and (max-width: 960px) {
    .woocommerce div.product .product_title, 
    .woocommerce #content div.product .product_title, 
    .woocommerce-page div.product .product_title, 
    .woocommerce-page #content div.product .product_title {
        width: 100% !important;
    }
    .summary.entry-summary .price {
        float: none;
    }
}



/* =========================================================================      
        MOBILE 320   
    ========================================================================= */
@media only screen and (max-width: 767px) {
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {		
		margin: 0 0 30px 0 !important;
		width: 100% !important;
	}
	.woocommerce div.product div.images, 
    .woocommerce #content div.product div.images, 
    .woocommerce-page div.product div.images, 
    .woocommerce-page #content div.product div.images,
	.single-product-datas {
		width: 100%;
	}
	.woocommerce .col2-set .col-1, 
    .woocommerce-page .col2-set .col-1, 
    .woocommerce .col2-set .col-2,
    .woocommerce-page .col2-set .col-2 {
		float: none !important;
		width: 100% !important;
	}

	.cart_totals table,
    .woocommerce .cart-collaterals .cart_totals, 
    .woocommerce-page .cart-collaterals .cart_totals,
    .woocommerce .cart-collaterals .shipping_calculator, 
    .woocommerce-page .cart-collaterals .shipping_calculator {
		width: 100%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.woocommerce ul.products li.product, 
    .woocommerce-page ul.products li.product {
		margin: 0 5% 30px 0 !important;		
		width: 47% !important;		
		float: left !important;	
	}
	.woocommerce ul.products li.first, 
    .woocommerce-page ul.products li.first {
		float: left !important;		clear: none;
	}	
	.woocommerce ul.products li.product:nth-child(odd), 
    .woocommerce-page ul.products li.product:nth-child(odd) {
		margin-right: 6% !important;
	}	
	.woocommerce ul.products li.product:nth-child(even),
	.woocommerce-page ul.products li.product:nth-child(even) {
		margin-right: 0px !important;
	}
}