@font-face {
  font-family: 'netten';
  src: url('../fonts/netten.eot?19646753');
  src: url('../fonts/netten.eot?19646753#iefix') format('embedded-opentype'),
       url('../fonts/netten.woff?19646753') format('woff'),
       url('../fonts/netten.ttf?19646753') format('truetype'),
       url('../fonts/netten.svg?19646753#netten') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'netten';
    src: url('../font/netten.svg?19646753#netten') format('svg');
  }
}
*/
 
 [class^="netten-"]:before, [class*=" netten-"]:before {
  font-family: "netten";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.netten-performance:before { content: '\e800'; } /* '' */
.netten-digitaladv:before { content: '\e801'; } /* '' */
.netten-tbd:before { content: '\e802'; } /* '' */
.netten-logo1:before { content: '\e803'; } /* '' */
.netten-logo2:before { content: '\e804'; } /* '' */
.netten-ecommerce:before { content: '\e805'; } /* '' */
.netten-fbapptabs:before { content: '\e806'; } /* '' */
.netten-projectmanagement:before { content: '\e807'; } /* '' */
.netten-seosem:before { content: '\e808'; } /* '' */
.netten-creativeconcept:before { content: '\e809'; } /* '' */
.netten-artdirection:before { content: '\e80a'; } /* '' */
.netten-seoconsultant:before { content: '\e80b'; } /* '' */
.netten-performancemktg:before { content: '\e80c'; } /* '' */
.netten-apps:before { content: '\e80d'; } /* '' */
.netten-itmanagement:before { content: '\e80e'; } /* '' */
.netten-contentcreation:before { content: '\e80f'; } /* '' */
.netten-projectintegration:before { content: '\e810'; } /* '' */
.netten-responsivedesign:before { content: '\e811'; } /* '' */
.netten-uiux:before { content: '\e812'; } /* '' */
.netten-digitalmediaanalysis:before { content: '\e813'; } /* '' */
.netten-responsivecoding:before { content: '\e814'; } /* '' */
.netten-digitalmktgreport:before { content: '\e815'; } /* '' */
.netten-facebook:before { content: '\e816'; } /* '' */
.netten-instagram:before { content: '\e817'; } /* '' */
.netten-arrowndown:before { content: '\e818'; } /* '' */
.netten-arrowup:before { content: '\e819'; } /* '' */
.netten-arrowleft:before { content: '\e81a'; } /* '' */
.netten-arrowright:before { content: '\e81b'; } /* '' */
.netten-doublearrowleft:before { content: '\e81c'; } /* '' */
.netten-doublearrowright:before { content: '\e81d'; } /* '' */
.netten-design:before { content: '\e81e'; } /* '' */
.netten-strategy:before { content: '\e81f'; } /* '' */
.netten-development:before { content: '\e820'; } /* '' */
.netten-linkedin:before { content: '\e821'; } /* '' */
.netten-twitter:before { content: '\e822'; } /* '' */
.netten-whoweare:before { content: '\e823'; } /* '' */
.netten-ourskills:before { content: '\e824'; } /* '' */
.netten-clients:before { content: '\e825'; } /* '' */
.netten-theteam:before { content: '\e826'; } /* '' */
.netten-netteam:before { content: '\e827'; } /* '' */
.netten-notes:before { content: '\e828'; } /* '' */
.netten-careers:before { content: '\e829'; } /* '' */
.netten-socialmedia:before { content: '\e82a'; } /* '' */
.netten-menu:before { content: '\e82b'; } /* '' */
.netten-contentstrategy:before { content: '\e82c'; } /* '' */
.netten-brandstorytelling:before { content: '\e82d'; } /* '' */
.netten-ideaformat:before { content: '\e82e'; } /* '' */
.netten-plus:before { content: '\e82f'; } /* '' */
.netten-minus:before { content: '\e830'; } /* '' */
.netten-closex:before { content: '\e831'; } /* '' */
.netten-showcase:before { content: '\e832'; } /* '' */
.netten-content:before { content: '\e833'; } /* '' */